openapi: 3.1.0
info:
  version: 1.0.0
  title: Propexo API
servers:
  - url: https://api.propexo.com
    x-fern-server-name: Production
  - url: https://api.sandbox.propexo.com
    x-fern-server-name: Sandbox
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas: {}
  parameters: {}
paths:
  /v1/admin/data-diffs:
    get:
      tags:
        - admin
      summary: Get all data diffs
      description: Get all data diffs
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - RENTVINE
              - REALPAGE_RPX
              - MRI
              - RESMAN
            description: The integration vendor associated with the data diff
          required: false
          name: integration_vendor
          in: query
        - schema:
            type: string
            description: The integration id associated with the data diff
          required: false
          name: integration_id
          in: query
        - schema:
            type:
              - string
              - "null"
            description: Only show data diffs before this timestamp
          required: false
          name: before
          in: query
        - schema:
            type:
              - string
              - "null"
            description: Only show data diffs after this timestamp
          required: false
          name: after
          in: query
      responses:
        "200":
          description: Get all data diffs
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the data diff
                        model:
                          type: string
                          description: The name of the model the data diff is for
                        event_type:
                          type: string
                          enum:
                            - NEW
                            - UPDATE
                          description: The data diff event type
                        data_diff:
                          type: object
                          properties: {}
                          description: JSON data diff
                        created_at:
                          type: string
                          description: The date the data diff was created
                        job_id:
                          type:
                            - string
                            - "null"
                          description: The ID of the job that affected this data diff
                        integration_id:
                          type: string
                          description: The integration id
                        integration_vendor:
                          type: string
                          enum:
                            - BUILDIUM
                            - ENTRATA
                            - PROPERTYWARE
                            - REALPAGE
                            - RENTMANAGER
                            - RENTVINE
                            - REALPAGE_RPX
                            - MRI
                            - RESMAN
                          description: The property management system of record
                      required:
                        - id
                        - model
                        - event_type
                        - data_diff
                        - created_at
                        - job_id
                        - integration_id
                        - integration_vendor
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
  /v1/admin/job-logs/{job_log_id}:
    get:
      tags:
        - admin
      summary: Get log by ID
      description: Get a single log record by log ID. A log will only have a single
        associated job. This is different than querying by job ID, which could
        have multiple log entries (in the case of retry attempts for failed
        jobs).
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: job_log_id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get a single log record by log ID. A log will only have a single
            associated job. This is different than querying by job ID, which
            could have multiple log entries (in the case of retry attempts for
            failed jobs).
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        example: clwktsp9v000008l31iv218hn
                      job_id:
                        type:
                          - string
                          - "null"
                        example: clwh5uics000608me9v74du0a
                      created_at:
                        type: string
                        example: 2024-03-21T15:38:08.337Z
                      job_type:
                        type: string
                      status:
                        type: string
                      parent_job_id:
                        type:
                          - string
                          - "null"
                      root_job_id:
                        type: string
                      job_schedule_id:
                        type:
                          - string
                          - "null"
                      integration_id:
                        type: string
                        example: clwh5u07w000508me66sfh3um
                    required:
                      - id
                      - job_id
                      - created_at
                      - job_type
                      - status
                      - parent_job_id
                      - root_job_id
                      - job_schedule_id
                      - integration_id
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
  /v1/admin/job-logs/{job_log_id}/data:
    get:
      tags:
        - admin
      summary: Get a link to the job log raw request and response data of a write job.
      description: Get a link to the job log raw request and response data of a write
        job. Only POST and PUT job payloads can be viewed.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the job log.
          required: true
          name: job_log_id
          in: path
      responses:
        "200":
          description: Get a link to the job log raw request and response data of a write
            job. Only POST and PUT job payloads can be viewed.
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples: {}
        "400":
          description: invalid input
  /v1/admin/logs/jobs:
    get:
      tags:
        - admin
      summary: Get logs
      description: Get all logs
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - SUCCESS
              - FAILURE
          required: false
          name: status
          in: query
        - schema:
            type: string
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
          required: false
          name: job_type
          in: query
      responses:
        "200":
          description: Get all logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: clwktsp9v000008l31iv218hn
                        job_id:
                          type:
                            - string
                            - "null"
                          example: clwh5uics000608me9v74du0a
                        created_at:
                          type: string
                          example: 2024-03-21T15:38:08.337Z
                        job_type:
                          type: string
                        status:
                          type: string
                        parent_job_id:
                          type:
                            - string
                            - "null"
                        root_job_id:
                          type: string
                        job_schedule_id:
                          type:
                            - string
                            - "null"
                        integration_id:
                          type: string
                          example: clwh5u07w000508me66sfh3um
                      required:
                        - id
                        - job_id
                        - created_at
                        - job_type
                        - status
                        - parent_job_id
                        - root_job_id
                        - job_schedule_id
                        - integration_id
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
  /v1/admin/logs/jobs/{id}:
    get:
      tags:
        - admin
      summary: Get logs by job ID
      description: Get all logs for a job ID. This returns an array because jobs can
        have multiple log entries (in the case of retries on failed jobs).
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            default: "true"
            description: Whether to include job logs from jobs that have spawned from the
              provided job id.
          required: false
          name: include_all_jobs
          in: query
      responses:
        "200":
          description: Get all logs for a job ID. This returns an array because jobs can
            have multiple log entries (in the case of retries on failed jobs).
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: clwktsp9v000008l31iv218hn
                        job_id:
                          type:
                            - string
                            - "null"
                          example: clwh5uics000608me9v74du0a
                        created_at:
                          type: string
                          example: 2024-03-21T15:38:08.337Z
                        job_type:
                          type: string
                        status:
                          type: string
                        parent_job_id:
                          type:
                            - string
                            - "null"
                        root_job_id:
                          type: string
                        job_schedule_id:
                          type:
                            - string
                            - "null"
                        integration_id:
                          type: string
                          example: clwh5u07w000508me66sfh3um
                      required:
                        - id
                        - job_id
                        - created_at
                        - job_type
                        - status
                        - parent_job_id
                        - root_job_id
                        - job_schedule_id
                        - integration_id
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
  /v1/admin/integrations:
    get:
      tags:
        - admin
      summary: Get all my integrations
      description: Get all my integrations
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - RENTVINE
              - REALPAGE_RPX
              - MRI
              - RESMAN
            description: The integration vendor
          required: false
          name: integration_vendor
          in: query
        - schema:
            type: boolean
            description: Whether or not to include archived integrations
          required: false
          name: is_archived
          in: query
      responses:
        "200":
          description: Get all my integrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the integration
                        created_at:
                          type: string
                          description: The date the integration was created
                        updated_at:
                          type: string
                          description: The date the integration was last updated
                        name:
                          type: string
                          description: The name of the integration
                        vendor:
                          type: string
                          enum:
                            - BUILDIUM
                            - ENTRATA
                            - PROPERTYWARE
                            - REALPAGE
                            - RENTMANAGER
                            - RENTVINE
                            - REALPAGE_RPX
                            - MRI
                            - RESMAN
                          description: The property management system of record
                        active:
                          type: boolean
                          description: The active state of the integration
                        system:
                          type: string
                          enum:
                            - PRODUCTION
                            - SANDBOX
                          description: The system the integration is associated with
                        sync_frequency:
                          type:
                            - integer
                            - "null"
                          description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
                            following: Sync every 12 HOURs)'
                        sync_cadence:
                          type:
                            - string
                            - "null"
                          enum:
                            - MINUTE
                            - HOUR
                            - DAY
                            - WEEK
                            - MONTH
                            - SECOND
                          description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
                            following: Sync every 12 HOURs)'
                        max_job_concurrency:
                          type: integer
                          description: Maximum number of jobs that can be run at once for the integration
                        max_request_frequency:
                          type: integer
                          description: Maximum number of jobs that can be run in the max request cadence
                        max_request_cadence:
                          type: string
                          enum:
                            - MINUTE
                            - HOUR
                            - DAY
                            - WEEK
                            - MONTH
                            - SECOND
                          description: Cadence at which to limit the max request frequency
                        base_url:
                          type:
                            - string
                            - "null"
                          description: "DEPRECATED: see specific PMS credentials. Base URL for the
                            integration vendor API"
                          deprecated: true
                        is_archived:
                          type: boolean
                          description: Whether or not the integration is archived
                        last_completed_sync:
                          type:
                            - string
                            - "null"
                          description: The timestamp of the last time a sync was completed.
                        new_properties_are_enabled:
                          type: boolean
                          description: Whether or not properties need to be approved before ingesting data
                            for them.
                        integration_interfaces:
                          type: array
                          items:
                            type: object
                            properties:
                              interface_name:
                                type: string
                                enum:
                                  - REALPAGE_FACILITIES
                                  - REALPAGE_RESIDENTS
                                  - REALPAGE_PROSPECT_MANAGEMENT
                                  - REALPAGE_SDE_CONVERGENT_BILLING












                                  - REALPAGE_RPX_READ_PROPERTIES
                                  - REALPAGE_RPX_UNITS
                                  - REALPAGE_RPX_RESIDENT_MANAGEMENT
                                  - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                                  - REALPAGE_RPX_PROSPECT_MANAGEMENT
                                  - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                                  - REALPAGE_RPX_FACILITIES
                                  - REALPAGE_RPX_CONVERGENT_BILLING
                                  - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                                  - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                                  - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                                  - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                                  - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                                  - REALPAGE_RPX_PROSPECTS_SURVEY
                                  - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                                  - REALPAGE_RPX_FLOOR_PLANS
                                  - ENTRATA_AMENITIES
                                  - ENTRATA_LEASES
                                  - ENTRATA_LEAD_EVENTS
                                  - ENTRATA_LEASE_TRANSACTIONS
                                  - ENTRATA_LISTINGS
                                  - ENTRATA_PROPERTIES
                                  - ENTRATA_PROSPECTS
                                  - ENTRATA_RESIDENTS
                                  - ENTRATA_UNITS
                                  - ENTRATA_VENDORS
                                  - ENTRATA_WORK_ORDERS
                                  - BUILDIUM_BASE
                                  - ENTRATA_BASE
                                  - PROPERTYWARE_BASE
                                  - RENTMANAGER_BASE
                                  - RENTVINE_BASE
                                  - MRI_BASE
                                  - RESMAN_BASE
                              enabled:
                                type: boolean
                              version:
                                type:
                                  - string
                                  - "null"
                            required:
                              - interface_name
                              - enabled
                              - version
                        models:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                              from_interfaces:
                                type: array
                                items:
                                  type: string
                                  enum:
                                    - REALPAGE_FACILITIES
                                    - REALPAGE_RESIDENTS
                                    - REALPAGE_PROSPECT_MANAGEMENT
                                    - REALPAGE_SDE_CONVERGENT_BILLING












                                    - REALPAGE_RPX_READ_PROPERTIES
                                    - REALPAGE_RPX_UNITS
                                    - REALPAGE_RPX_RESIDENT_MANAGEMENT
                                    - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                                    - REALPAGE_RPX_PROSPECT_MANAGEMENT
                                    - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                                    - REALPAGE_RPX_FACILITIES
                                    - REALPAGE_RPX_CONVERGENT_BILLING
                                    - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                                    - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                                    - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                                    - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                                    - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                                    - REALPAGE_RPX_PROSPECTS_SURVEY
                                    - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                                    - REALPAGE_RPX_FLOOR_PLANS
                                    - ENTRATA_AMENITIES
                                    - ENTRATA_LEASES
                                    - ENTRATA_LEAD_EVENTS
                                    - ENTRATA_LEASE_TRANSACTIONS
                                    - ENTRATA_LISTINGS
                                    - ENTRATA_PROPERTIES
                                    - ENTRATA_PROSPECTS
                                    - ENTRATA_RESIDENTS
                                    - ENTRATA_UNITS
                                    - ENTRATA_VENDORS
                                    - ENTRATA_WORK_ORDERS
                                    - BUILDIUM_BASE
                                    - ENTRATA_BASE
                                    - PROPERTYWARE_BASE
                                    - RENTMANAGER_BASE
                                    - RENTVINE_BASE
                                    - MRI_BASE
                                    - RESMAN_BASE
                            required:
                              - enabled
                              - from_interfaces
                        can_authenticate:
                          type: boolean
                          description: True if the credentials and configuration for the integration
                            allowed us to successfully authenticate with at
                            least one PMS API endpoint, false otherwise
                        last_data_access_check:
                          type:
                            - string
                            - "null"
                          description: The UTC timestamp of the last time an authentication check was
                            performed for an integration.
                        allow_manual_syncs:
                          type: boolean
                          description: Whether or not manual syncs are allowed to be triggered on this
                            integration
                        configuration_meta_data:
                          type: array
                          items:
                            type: object
                            properties:
                              last_seen:
                                type: string
                              interface_name:
                                type: string
                              configuration_data:
                                type: object
                                properties: {}
                              custom_data:
                                type:
                                  - object
                                  - "null"
                                properties: {}
                            required:
                              - last_seen
                              - interface_name
                              - configuration_data
                              - custom_data
                      required:
                        - id
                        - created_at
                        - updated_at
                        - name
                        - vendor
                        - active
                        - system
                        - max_job_concurrency
                        - max_request_frequency
                        - max_request_cadence
                        - base_url
                        - is_archived
                        - last_completed_sync
                        - new_properties_are_enabled
                        - integration_interfaces
                        - models
                        - can_authenticate
                        - last_data_access_check
                        - allow_manual_syncs
                        - configuration_meta_data
                      description: Configuration data directly from the PMS. This only applies to
                        limited systems and may not be useful for all use cases.
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
    post:
      tags:
        - admin
      summary: Create an integration
      description: Create an integration
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_vendor:
                  type: string
                  enum:
                    - BUILDIUM
                    - ENTRATA
                    - PROPERTYWARE
                    - REALPAGE
                    - RENTMANAGER
                    - RENTVINE
                    - REALPAGE_RPX
                    - MRI
                    - RESMAN
                  description: The integration vendor
                credentials:
                  anyOf:
                    - type: object
                      properties:
                        clientId:
                          type: string
                        secret:
                          type: string
                      required:
                        - clientId
                        - secret
                      description: Buildium authentication credentials
                      title: Buildium
                    - type: object
                      properties:
                        username:
                          type: string
                        password:
                          type: string
                        companyId:
                          type: string
                      required:
                        - username
                        - password
                        - companyId
                      description: Entrata authentication credentials
                      title: EntrataLegacy
                    - type: object
                      properties:
                        accessToken:
                          type: string
                        companyId:
                          type: string
                      required:
                        - accessToken
                        - companyId
                      description: Entrata authentication credentials
                      title: Entrata
                    - type: object
                      properties:
                        clientId:
                          type: string
                        databaseName:
                          type: string
                        partnerKey:
                          type: string
                        username:
                          type: string
                        password:
                          type: string
                        baseUrl:
                          type: string
                      required:
                        - clientId
                        - databaseName
                        - partnerKey
                        - username
                        - password
                        - baseUrl
                      description: MRI authentication credentials
                      title: MRI
                    - type: object
                      properties:
                        username:
                          type: string
                        password:
                          type: string
                      required:
                        - username
                        - password
                      description: Propertyware authentication credentials
                      title: Propertyware
                    - type: object
                      properties:
                        PMC_ID:
                          type: string
                        SITE_ID:
                          type: string
                        LICENSE_KEY:
                          type: string
                        ONESITE_USERNAME:
                          type: string
                        BASE_URL:
                          type: string
                        ftp_credentials:
                          type: object
                          properties:
                            SFTP_HOST:
                              type: string
                            SFTP_PORT:
                              type: number
                            SFTP_USERNAME:
                              type: string
                            SFTP_PASSWORD:
                              type: string
                            SFTP_DIR:
                              type: string
                          required:
                            - SFTP_HOST
                            - SFTP_PORT
                            - SFTP_USERNAME
                            - SFTP_PASSWORD
                            - SFTP_DIR
                      required:
                        - PMC_ID
                        - SITE_ID
                        - LICENSE_KEY
                        - ONESITE_USERNAME
                      description: RealPage Registered Vendor authentication credentials
                      title: RealpageRegisteredVendor
                    - type: object
                      properties:
                        baseUrl:
                          type: string
                          minLength: 1
                          format: uri
                        licensekey:
                          type: string
                          minLength: 1
                        pmcId:
                          type: string
                        siteId:
                          type: string
                      required:
                        - baseUrl
                        - licensekey
                      description: RealPage Partner Exchange authentication credentials
                      title: RealpagePartnerExchange
                    - type: object
                      properties:
                        Username:
                          type: string
                        Password:
                          type: string
                        companyId:
                          type: string
                      required:
                        - Username
                        - Password
                        - companyId
                      description: RentManager authentication credentials
                      title: RentManagerSandbox
                    - type: object
                      properties:
                        PartnerToken:
                          type: string
                        companyId:
                          type: string
                      required:
                        - PartnerToken
                        - companyId
                      description: RentManager authentication credentials
                      title: RentManagerProduction
                    - type: object
                      properties:
                        apiKey:
                          type: string
                        apiSecret:
                          type: string
                        companyId:
                          type: string
                        portfolioId:
                          type: string
                      required:
                        - apiKey
                        - apiSecret
                        - companyId
                      description: Rentvine authentication credentials
                      title: Rentvine
                    - type: object
                      properties:
                        integrationPartnerId:
                          type: string
                        accountId:
                          type: string
                        apiKey:
                          type: string
                      required:
                        - integrationPartnerId
                        - accountId
                        - apiKey
                      description: ResMan authentication credentials
                      title: Resman
                  description: JSON encoded credentials for accessing the integration vendor API
                name:
                  type: string
                  description: The name of the integration
                system:
                  type: string
                  enum:
                    - PRODUCTION
                    - SANDBOX
                  description: "Deprecated: Do not use"
                  deprecated: true
                sync_frequency:
                  type: integer
                  minimum: 1
                  default: 12
                  description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
                    following: Sync every 12 HOURs)'
                sync_cadence:
                  type: string
                  enum:
                    - MINUTE
                    - HOUR
                    - DAY
                    - WEEK
                    - MONTH
                    - SECOND
                  default: HOUR
                  description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
                    following: Sync every 12 HOURs)'
                max_request_cadence:
                  type: string
                  enum:
                    - MINUTE
                    - HOUR
                    - DAY
                    - WEEK
                    - MONTH
                    - SECOND
                  default: SECOND
                  description: 'The cadence at which to limit the max request frequency. (e.g.
                    "SECOND" in the following: 1 request per 2 SECONDs)'
                  example: SECOND
                max_request_frequency:
                  type: number
                  minimum: 1
                  default: 1
                  description: 'The maximum number of requests sent to the PMS API per cadence
                    unit. (e.g. "2" in the following: 1 request per 2 SECONDs)'
                  example: 1
                max_job_concurrency:
                  type: integer
                  maximum: 1
                  minimum: 1
                  default: 1
                  description: 'Maximum number of jobs that can be run at once for the
                    integration. (e.g. "1" in the following: 1 request per 2
                    SECONDs) — Please contact support to increase this limit.'
                  example: 1
                active:
                  type: boolean
                  default: false
                  description: The active state of the integration
                base_url:
                  type:
                    - string
                    - "null"
                  format: uri
                  description: DEPRECATED. See specific PMS credentials for usage.
                  deprecated: true
                new_properties_are_enabled:
                  type: boolean
                  default: true
                  description: Whether or not properties need to be approved before by you
                    ingesting data for them.
                based_on_integration_id:
                  type: string
                  description: A reference integration_id to base the creation of an integration
                    on. This includes copying job scheduling frequency and
                    similar configuration. Credentials are not copied and must
                    still be provided.
                  example: clwsc909e000008l73rix7mae
                allow_manual_syncs:
                  type: boolean
                  default: false
                  description: Opt-in to allow manual syncs for this integration to be triggered
                    via the API
              required:
                - integration_vendor
                - credentials
                - name
                - sync_frequency
                - sync_cadence
      responses:
        "200":
          description: Create an integration
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the integration
                        example: clwktsp9v000008l31iv218hn
                      created_at:
                        type: string
                        description: The date the integration was created
                        example: 2024-03-21T15:38:08.337Z
                      updated_at:
                        type: string
                        description: The date the integration was last updated
                        example: 2024-03-22T10:59:45.119Z
                      name:
                        type:
                          - string
                          - "null"
                        description: The name of the integration
                      vendor:
                        type: string
                        enum:
                          - BUILDIUM
                          - ENTRATA
                          - PROPERTYWARE
                          - REALPAGE
                          - RENTMANAGER
                          - RENTVINE
                          - REALPAGE_RPX
                          - MRI
                          - RESMAN
                        description: The property management system of record
                      active:
                        type: boolean
                        description: The active state of the integration
                      system:
                        type: string
                        enum:
                          - PRODUCTION
                          - SANDBOX
                        description: The system the integration is associated with
                      sync_frequency:
                        type: integer
                        description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
                          following: Sync every 12 HOURs)'
                      sync_cadence:
                        type: string
                        enum:
                          - MINUTE
                          - HOUR
                          - DAY
                          - WEEK
                          - MONTH
                          - SECOND
                        description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
                          following: Sync every 12 HOURs)'
                      max_request_cadence:
                        type: string
                        enum:
                          - MINUTE
                          - HOUR
                          - DAY
                          - WEEK
                          - MONTH
                          - SECOND
                        default: SECOND
                        description: 'The cadence at which to limit the max request frequency. (e.g.
                          "SECOND" in the following: 1 request per 2 SECONDs)'
                        example: SECOND
                      max_request_frequency:
                        type: number
                        minimum: 1
                        default: 10
                        description: 'The maximum number of requests sent to the PMS API per cadence
                          unit. (e.g. "2" in the following: 1 request per 2
                          SECONDs)'
                        example: 10
                      max_job_concurrency:
                        type: integer
                        maximum: 1
                        minimum: 1
                        default: 1
                        description: 'Maximum number of jobs that can be run at once for the
                          integration. (e.g. "1" in the following: 1 request per
                          2 SECONDs) — Please contact support to increase this
                          limit.'
                        example: 1
                      base_url:
                        type:
                          - string
                          - "null"
                        description: "DEPRECATED: see specific PMS credentials. Base URL for the
                          integration vendor API"
                        deprecated: true
                      customer_id:
                        type: string
                        description: The unique identifier for the customer
                      is_archived:
                        type: boolean
                        description: Whether or not the integration is archived
                      ping_results:
                        type: object
                        additionalProperties:
                          type: string
                      new_properties_are_enabled:
                        type: boolean
                        description: Whether or not properties need to be approved before ingesting data
                          for them.
                      allow_manual_syncs:
                        type: boolean
                        description: Whether or not manual syncs are allowed to be triggered on this
                          integration
                    required:
                      - id
                      - created_at
                      - updated_at
                      - name
                      - vendor
                      - active
                      - system
                      - sync_frequency
                      - sync_cadence
                      - base_url
                      - customer_id
                      - is_archived
                      - ping_results
                      - new_properties_are_enabled
                      - allow_manual_syncs
                required:
                  - result
              examples: {}
        "400":
          description: invalid input
  /v1/admin/users:
    get:
      tags:
        - admin
      summary: Get all my users
      description: Get all my users
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The unique identifier for the user
          required: false
          name: id
          in: query
      responses:
        "200":
          description: Get all my users
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the user
                        created_at:
                          type: string
                          description: The date the user was created
                        updated_at:
                          type: string
                          description: The date the user was last updated
                        first_name:
                          type: string
                          description: The first name of the user
                        last_name:
                          type: string
                          description: The last name of the user
                        email:
                          type: string
                          format: email
                          description: The email of the user
                        roles:
                          type: array
                          items:
                            type: string
                            enum:
                              - ADMIN
                              - DEVELOPER
                          description: The roles the user has assigned to them
                      required:
                        - id
                        - created_at
                        - updated_at
                        - first_name
                        - last_name
                        - email
                        - roles
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
    post:
      tags:
        - admin
      summary: Create a user
      description: Create a user
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: The first name of the user
                  example: Sally
                last_name:
                  type: string
                  description: The last name of the user
                  example: Jones
                email:
                  type: string
                  format: email
                  description: The email of the user
                phone:
                  type: string
                  description: The phone number of the user
                roles:
                  type: array
                  items:
                    type: string
                    enum:
                      - ADMIN
                      - DEVELOPER
                  description: The roles the user has assigned to them
              required:
                - first_name
                - last_name
                - email
                - roles
      responses:
        "200":
          description: Create a user
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the users
                        example: clwktsp9v000008l31iv218hn
                      created_at:
                        type: string
                        description: The date the users was created
                        example: 2024-03-21T15:38:08.337Z
                      updated_at:
                        type: string
                        description: The date the user was last updated
                        example: 2024-03-22T10:59:45.119Z
                      first_name:
                        type: string
                        description: The first name of the user
                        example: Sally
                      last_name:
                        type: string
                        description: The last name of the user
                        example: Jones
                      email:
                        type: string
                        format: email
                        description: The email of the user
                      roles:
                        type: array
                        items:
                          type: string
                          enum:
                            - ADMIN
                            - DEVELOPER
                        description: The roles the user has assigned to them
                    required:
                      - id
                      - created_at
                      - updated_at
                      - first_name
                      - last_name
                      - email
                      - roles
                required:
                  - result
              examples: {}
        "400":
          description: invalid input
  /v1/admin/users/{id}:
    get:
      tags:
        - admin
      summary: Get user by id
      description: Get user by id
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The unique identifier for the user
          required: true
          name: id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get user by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the user
                      created_at:
                        type: string
                        description: The date the users was created
                      updated_at:
                        type: string
                        description: The date the user was last updated
                      first_name:
                        type: string
                        description: The first name of the user
                      last_name:
                        type: string
                        description: The last name of the user
                      email:
                        type: string
                        format: email
                        description: The email of the user
                      roles:
                        type: array
                        items:
                          type: string
                          enum:
                            - ADMIN
                            - DEVELOPER
                        description: The roles the user has assigned to them
                    required:
                      - id
                      - created_at
                      - updated_at
                      - first_name
                      - last_name
                      - email
                      - roles
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
    put:
      tags:
        - admin
      summary: Update a user
      description: Update a user
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The unique identifier for the user
            example: clwktsp9v000008l31iv218hn
          required: true
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: The first name of the user
                  example: Sally
                last_name:
                  type: string
                  description: The last name of the user
                  example: Jones
                roles:
                  type: array
                  items:
                    type: string
                    enum:
                      - ADMIN
                      - DEVELOPER
                  description: The roles the user has assigned to them
      responses:
        "200":
          description: Update a user
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the user
                        example: clwktsp9v000008l31iv218hn
                      created_at:
                        type: string
                        description: The date the users was created
                        example: 2024-03-21T15:38:08.337Z
                      updated_at:
                        type: string
                        description: The date the user was last updated
                        example: 2024-03-22T10:59:45.119Z
                      first_name:
                        type: string
                        description: The first name of the user
                        example: Sally
                      last_name:
                        type: string
                        description: The last name of the user
                        example: Jones
                      email:
                        type: string
                        format: email
                        description: The email of the user
                      phone:
                        type:
                          - string
                          - "null"
                        description: The phone number of the user
                      roles:
                        type: array
                        items:
                          type: string
                          enum:
                            - ADMIN
                            - DEVELOPER
                        description: The roles the user has assigned to them
                    required:
                      - id
                      - created_at
                      - updated_at
                      - first_name
                      - last_name
                      - email
                      - phone
                      - roles
                required:
                  - result
              examples: {}
        "400":
          description: invalid input
  /v1/admin/write-status/{root_job_id}:
    get:
      tags:
        - admin
      summary: Check the status of a write operation
      description: Query for the status of a write operation created via the API. The
        status of the write operation, as well as any encountered errors, is
        provided.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The job ID of the write job to check the status of
          required: true
          name: root_job_id
          in: path
      responses:
        "200":
          description: Query for the status of a write operation created via the API. The
            status of the write operation, as well as any encountered errors, is
            provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  write_status:
                    type: string
                    enum:
                      - SUCCESS
                      - PARTIAL_SUCCESS
                      - FAILURE
                      - PENDING
                    description: The status for the write operation. "SUCCESS" means that the write
                      operation was seen as a complete success and the data has
                      been written. "PARTIAL_SUCCESS" means that a portion of
                      the write operation succeeded, but it was not fully
                      successful. "FAILURE" means that the write operation
                      completely failed."PENDING" means that the write operation
                      is pending completion of any status.
                  errors:
                    type: array
                    items:
                      type: string
                    description: For "PARTIAL_SUCCESS" and "FAILURE" statuses, an array of error
                      messages provided by the PMS may be present. This array
                      could be incomplete if the PMS does not provide error
                      messages.
                  created_record_id:
                    type:
                      - string
                      - "null"
                    description: The ID may be null if the job didn't run correctly or if the given
                      PMS does not generate a new record ID for create
                      operations. Due to varying PMS workflow requirements, some
                      Propexo jobs will spawn other jobs. This will return the
                      first ID created in the process and could be related to a
                      different model than expected. This is not intended to be
                      a complete solution and could have gaps.
                required:
                  - write_status
                  - errors
                  - created_record_id
              examples: {}
        "400":
          description: invalid input
  /v1/admin/integrations/{integration_id}:
    get:
      tags:
        - admin
      summary: Get integration by id
      description: Get integration by id
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The integration id
          required: true
          name: integration_id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get integration by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the integration
                      created_at:
                        type: string
                        description: The date the integration was created
                      updated_at:
                        type: string
                        description: The date the integration was last updated
                      name:
                        type: string
                        description: The name of the integration
                      vendor:
                        type: string
                        enum:
                          - BUILDIUM
                          - ENTRATA
                          - PROPERTYWARE
                          - REALPAGE
                          - RENTMANAGER
                          - RENTVINE
                          - REALPAGE_RPX
                          - MRI
                          - RESMAN
                        description: The property management system of record
                      active:
                        type: boolean
                        description: The active state of the integration
                      system:
                        type: string
                        enum:
                          - PRODUCTION
                          - SANDBOX
                        description: The system the integration is associated with
                      sync_frequency:
                        type:
                          - integer
                          - "null"
                        description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
                          following: Sync every 12 HOURs)'
                      sync_cadence:
                        type:
                          - string
                          - "null"
                        enum:
                          - MINUTE
                          - HOUR
                          - DAY
                          - WEEK
                          - MONTH
                          - SECOND
                        description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
                          following: Sync every 12 HOURs)'
                      max_job_concurrency:
                        type: integer
                        description: Maximum number of jobs that can be run at once for the integration
                      max_request_frequency:
                        type: integer
                        description: Maximum number of jobs that can be run in the max request cadence
                      max_request_cadence:
                        type: string
                        enum:
                          - MINUTE
                          - HOUR
                          - DAY
                          - WEEK
                          - MONTH
                          - SECOND
                        description: Cadence at which to limit the max request frequency
                      base_url:
                        type:
                          - string
                          - "null"
                        description: "DEPRECATED: see specific PMS credentials. Base URL for the
                          integration vendor API"
                        deprecated: true
                      is_archived:
                        type: boolean
                        description: Whether or not the integration is archived
                      last_completed_sync:
                        type:
                          - string
                          - "null"
                        description: The timestamp of the last time a sync was completed.
                      new_properties_are_enabled:
                        type: boolean
                        description: Whether or not properties need to be approved before ingesting data
                          for them.
                      integration_interfaces:
                        type: array
                        items:
                          type: object
                          properties:
                            interface_name:
                              type: string
                              enum:
                                - REALPAGE_FACILITIES
                                - REALPAGE_RESIDENTS
                                - REALPAGE_PROSPECT_MANAGEMENT
                                - REALPAGE_SDE_CONVERGENT_BILLING












                                - REALPAGE_RPX_READ_PROPERTIES
                                - REALPAGE_RPX_UNITS
                                - REALPAGE_RPX_RESIDENT_MANAGEMENT
                                - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                                - REALPAGE_RPX_PROSPECT_MANAGEMENT
                                - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                                - REALPAGE_RPX_FACILITIES
                                - REALPAGE_RPX_CONVERGENT_BILLING
                                - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                                - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                                - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                                - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                                - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                                - REALPAGE_RPX_PROSPECTS_SURVEY
                                - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                                - REALPAGE_RPX_FLOOR_PLANS
                                - ENTRATA_AMENITIES
                                - ENTRATA_LEASES
                                - ENTRATA_LEAD_EVENTS
                                - ENTRATA_LEASE_TRANSACTIONS
                                - ENTRATA_LISTINGS
                                - ENTRATA_PROPERTIES
                                - ENTRATA_PROSPECTS
                                - ENTRATA_RESIDENTS
                                - ENTRATA_UNITS
                                - ENTRATA_VENDORS
                                - ENTRATA_WORK_ORDERS
                                - BUILDIUM_BASE
                                - ENTRATA_BASE
                                - PROPERTYWARE_BASE
                                - RENTMANAGER_BASE
                                - RENTVINE_BASE
                                - MRI_BASE
                                - RESMAN_BASE
                            enabled:
                              type: boolean
                            version:
                              type:
                                - string
                                - "null"
                          required:
                            - interface_name
                            - enabled
                            - version
                      models:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                            from_interfaces:
                              type: array
                              items:
                                type: string
                                enum:
                                  - REALPAGE_FACILITIES
                                  - REALPAGE_RESIDENTS
                                  - REALPAGE_PROSPECT_MANAGEMENT
                                  - REALPAGE_SDE_CONVERGENT_BILLING












                                  - REALPAGE_RPX_READ_PROPERTIES
                                  - REALPAGE_RPX_UNITS
                                  - REALPAGE_RPX_RESIDENT_MANAGEMENT
                                  - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                                  - REALPAGE_RPX_PROSPECT_MANAGEMENT
                                  - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                                  - REALPAGE_RPX_FACILITIES
                                  - REALPAGE_RPX_CONVERGENT_BILLING
                                  - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                                  - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                                  - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                                  - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                                  - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                                  - REALPAGE_RPX_PROSPECTS_SURVEY
                                  - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                                  - REALPAGE_RPX_FLOOR_PLANS
                                  - ENTRATA_AMENITIES
                                  - ENTRATA_LEASES
                                  - ENTRATA_LEAD_EVENTS
                                  - ENTRATA_LEASE_TRANSACTIONS
                                  - ENTRATA_LISTINGS
                                  - ENTRATA_PROPERTIES
                                  - ENTRATA_PROSPECTS
                                  - ENTRATA_RESIDENTS
                                  - ENTRATA_UNITS
                                  - ENTRATA_VENDORS
                                  - ENTRATA_WORK_ORDERS
                                  - BUILDIUM_BASE
                                  - ENTRATA_BASE
                                  - PROPERTYWARE_BASE
                                  - RENTMANAGER_BASE
                                  - RENTVINE_BASE
                                  - MRI_BASE
                                  - RESMAN_BASE
                          required:
                            - enabled
                            - from_interfaces
                      can_authenticate:
                        type: boolean
                        description: True if the credentials and configuration for the integration
                          allowed us to successfully authenticate with at least
                          one PMS API endpoint, false otherwise
                      last_data_access_check:
                        type:
                          - string
                          - "null"
                        description: The UTC timestamp of the last time an authentication check was
                          performed for an integration.
                      allow_manual_syncs:
                        type: boolean
                        description: Whether or not manual syncs are allowed to be triggered on this
                          integration
                      configuration_meta_data:
                        type: array
                        items:
                          type: object
                          properties:
                            last_seen:
                              type: string
                            interface_name:
                              type: string
                            configuration_data:
                              type: object
                              properties: {}
                            custom_data:
                              type:
                                - object
                                - "null"
                              properties: {}
                          required:
                            - last_seen
                            - interface_name
                            - configuration_data
                            - custom_data
                      is_running_sync:
                        type: boolean
                        description: Whether or not a data sync is currently in progress for the
                          integration
                      is_running_data_access_check:
                        type: boolean
                        description: Whether or not a data access check is currently in progress for the
                          integration
                    required:
                      - id
                      - created_at
                      - updated_at
                      - name
                      - vendor
                      - active
                      - system
                      - max_job_concurrency
                      - max_request_frequency
                      - max_request_cadence
                      - base_url
                      - is_archived
                      - last_completed_sync
                      - new_properties_are_enabled
                      - integration_interfaces
                      - models
                      - can_authenticate
                      - last_data_access_check
                      - allow_manual_syncs
                      - configuration_meta_data
                      - is_running_sync
                      - is_running_data_access_check
                required:
                  - meta
                  - results
              examples: {}
        "400":
          description: invalid input
    put:
      tags:
        - admin
      summary: Update an integration
      description: Update an integration
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The unique identifier for the integration
            example: clwh5u07w000508me66sfh3um
          required: true
          name: integration_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_vendor:
                  type: string
                  enum:
                    - BUILDIUM
                    - ENTRATA
                    - PROPERTYWARE
                    - REALPAGE
                    - RENTMANAGER
                    - RENTVINE
                    - REALPAGE_RPX
                    - MRI
                    - RESMAN
                  description: The integration vendor
                credentials:
                  anyOf:
                    - type: object
                      properties:
                        clientId:
                          type: string
                        secret:
                          type: string
                      required:
                        - clientId
                        - secret
                      description: Buildium authentication credentials
                      title: Buildium
                    - type: object
                      properties:
                        username:
                          type: string
                        password:
                          type: string
                        companyId:
                          type: string
                      required:
                        - username
                        - password
                        - companyId
                      description: Entrata authentication credentials
                      title: EntrataLegacy
                    - type: object
                      properties:
                        accessToken:
                          type: string
                        companyId:
                          type: string
                      required:
                        - accessToken
                        - companyId
                      description: Entrata authentication credentials
                      title: Entrata
                    - type: object
                      properties:
                        clientId:
                          type: string
                        databaseName:
                          type: string
                        partnerKey:
                          type: string
                        username:
                          type: string
                        password:
                          type: string
                        baseUrl:
                          type: string
                      required:
                        - clientId
                        - databaseName
                        - partnerKey
                        - username
                        - password
                        - baseUrl
                      description: MRI authentication credentials
                      title: MRI
                    - type: object
                      properties:
                        username:
                          type: string
                        password:
                          type: string
                      required:
                        - username
                        - password
                      description: Propertyware authentication credentials
                      title: Propertyware
                    - type: object
                      properties:
                        PMC_ID:
                          type: string
                        SITE_ID:
                          type: string
                        LICENSE_KEY:
                          type: string
                        ONESITE_USERNAME:
                          type: string
                        BASE_URL:
                          type: string
                        ftp_credentials:
                          type: object
                          properties:
                            SFTP_HOST:
                              type: string
                            SFTP_PORT:
                              type: number
                            SFTP_USERNAME:
                              type: string
                            SFTP_PASSWORD:
                              type: string
                            SFTP_DIR:
                              type: string
                          required:
                            - SFTP_HOST
                            - SFTP_PORT
                            - SFTP_USERNAME
                            - SFTP_PASSWORD
                            - SFTP_DIR
                      required:
                        - PMC_ID
                        - SITE_ID
                        - LICENSE_KEY
                        - ONESITE_USERNAME
                      description: RealPage Registered Vendor authentication credentials
                      title: RealpageRegisteredVendor
                    - type: object
                      properties:
                        baseUrl:
                          type: string
                          minLength: 1
                          format: uri
                        licensekey:
                          type: string
                          minLength: 1
                        pmcId:
                          type: string
                        siteId:
                          type: string
                      required:
                        - baseUrl
                        - licensekey
                      description: RealPage Partner Exchange authentication credentials
                      title: RealpagePartnerExchange
                    - type: object
                      properties:
                        Username:
                          type: string
                        Password:
                          type: string
                        companyId:
                          type: string
                      required:
                        - Username
                        - Password
                        - companyId
                      description: RentManager authentication credentials
                      title: RentManagerSandbox
                    - type: object
                      properties:
                        PartnerToken:
                          type: string
                        companyId:
                          type: string
                      required:
                        - PartnerToken
                        - companyId
                      description: RentManager authentication credentials
                      title: RentManagerProduction
                    - type: object
                      properties:
                        apiKey:
                          type: string
                        apiSecret:
                          type: string
                        companyId:
                          type: string
                        portfolioId:
                          type: string
                      required:
                        - apiKey
                        - apiSecret
                        - companyId
                      description: Rentvine authentication credentials
                      title: Rentvine
                    - type: object
                      properties:
                        integrationPartnerId:
                          type: string
                        accountId:
                          type: string
                        apiKey:
                          type: string
                      required:
                        - integrationPartnerId
                        - accountId
                        - apiKey
                      description: ResMan authentication credentials
                      title: Resman
                  description: JSON encoded credentials for accessing the integration vendor API
                name:
                  type: string
                  description: The name of the integration
                system:
                  type: string
                  enum:
                    - PRODUCTION
                    - SANDBOX
                  description: "Deprecated: Do not use."
                  deprecated: true
                sync_frequency:
                  type: integer
                  description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
                    following: Sync every 12 HOURs)'
                sync_cadence:
                  type: string
                  enum:
                    - MINUTE
                    - HOUR
                    - DAY
                    - WEEK
                    - MONTH
                    - SECOND
                  description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
                    following: Sync every 12 HOURs)'
                max_request_cadence:
                  type: string
                  enum:
                    - MINUTE
                    - HOUR
                    - DAY
                    - WEEK
                    - MONTH
                    - SECOND
                  default: SECOND
                  description: 'The cadence at which to limit the max request frequency. (e.g.
                    "SECOND" in the following: 1 request per 2 SECONDs)'
                  example: SECOND
                max_request_frequency:
                  type: number
                  minimum: 1
                  default: 1
                  description: 'The maximum number of requests sent to the PMS API per cadence
                    unit. (e.g. "2" in the following: 1 request per 2 SECONDs)'
                  example: 1
                max_job_concurrency:
                  type: integer
                  maximum: 1
                  minimum: 1
                  default: 1
                  description: 'Maximum number of jobs that can be run at once for the
                    integration. (e.g. "1" in the following: 1 request per 2
                    SECONDs) — Please contact support to increase this limit.'
                  example: 1
                active:
                  type: boolean
                  description: The active state of the integration
                base_url:
                  type:
                    - string
                    - "null"
                  format: uri
                  description: DEPRECATED. See specific PMS credentials for usage.
                  deprecated: true
                new_properties_are_enabled:
                  type: boolean
                  description: Whether or not properties need to be approved before ingesting data
                    for them.
                allow_manual_syncs:
                  type: boolean
                  default: false
                  description: Whether or not manual syncs are allowed to be triggered on this
                    integration
      responses:
        "200":
          description: Update an integration
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the integration
                        example: clwktsp9v000008l31iv218hn
                      created_at:
                        type: string
                        description: The date the integration was created
                        example: 2024-03-21T15:38:08.337Z
                      updated_at:
                        type: string
                        description: The date the integration was last updated
[...]
