openapi: 3.1.0
info:
  version: 1.0.0
  title: Propexo API
servers:
  - url: https://api.propexo.com
    x-fern-server-name: Production
  - url: https://api.sandbox.propexo.com
    x-fern-server-name: Sandbox
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas: {}
  parameters: {}
paths:
  /v1/admin/data-diffs:
    get:
      tags:
        - admin
      summary: Get all data diffs
      description: Get all data diffs
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - RENTVINE
              - REALPAGE_RPX
              - MRI
              - RESMAN
            description: The integration vendor associated with the data diff
          required: false
          name: integration_vendor
          in: query
        - schema:
            type: string
            description: The integration id associated with the data diff
          required: false
          name: integration_id
          in: query
        - schema:
            type:
              - string
              - "null"
            description: Only show data diffs before this timestamp
          required: false
          name: before
          in: query
        - schema:
            type:
              - string
              - "null"
            description: Only show data diffs after this timestamp
          required: false
          name: after
          in: query
      responses:
        "200":
          description: Get all data diffs
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the data diff
                        model:
                          type: string
                          description: The name of the model the data diff is for
                        event_type:
                          type: string
                          enum:
                            - NEW
                            - UPDATE
                          description: The data diff event type
                        data_diff:
                          type: object
                          properties: {}
                          description: JSON data diff
                        created_at:
                          type: string
                          description: The date the data diff was created
                        job_id:
                          type:
                            - string
                            - "null"
                          description: The ID of the job that affected this data diff
                        integration_id:
                          type: string
                          description: The integration id
                        integration_vendor:
                          type: string
                          enum:
                            - BUILDIUM
                            - ENTRATA
                            - PROPERTYWARE
                            - REALPAGE
                            - RENTMANAGER
                            - RENTVINE
                            - REALPAGE_RPX
                            - MRI
                            - RESMAN
                          description: The property management system of record
                      required:
                        - id
                        - model
                        - event_type
                        - data_diff
                        - created_at
                        - job_id
                        - integration_id
                        - integration_vendor
                required:
                  - meta
                  - results
        "400":
          description: invalid input
  /v1/amenities:
    get:
      tags:
        - amenities
      summary: Get all amenities
      description: Get all amenities
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external ID from the integration vendor
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the location associated with the
              property. This is the location specified in RentManager
          required: false
          name: location_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the property
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the integration
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - RENTVINE
              - REALPAGE_RPX
              - MRI
              - RESMAN
            description: The property management system of record
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: Get all amenities
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propexo unique identifier for the amenity
                        created_at:
                          type: string
                          description: The date record first entered Propexo
                        updated_at:
                          type: string
                          description: The date record was last updated in Propexo
                        last_seen:
                          type:
                            - string
                            - "null"
                          description: The date the record was last seen from the PMS
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_listing_id:
                          type:
                            - string
                            - "null"
                          description: The external ID of the listing from the integration vendor
                        x_parent_amenity_id:
                          type:
                            - string
                            - "null"
                          description: The external ID from the integration vendor of the amenity this
                            unit and/or property amenity is associated with
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_unit_id:
                          type:
                            - string
                            - "null"
                          description: 'DEPRECATED: Please use the "units" field to see the associated
                            units with this amenity'
                          deprecated: true
                        cost_in_cents:
                          type:
                            - number
                            - "null"
                          description: Cost in cents for the amenity
                        custom_data:
                          type:
                            - object
                            - "null"
                          properties: {}
                          description: Custom data
                        description:
                          type:
                            - string
                            - "null"
                          description: Description of the amenity
                        image_urls:
                          type: array
                          items:
                            type: string
                          description: A list of image urls associated with the amenity
                        meta_data:
                          type:
                            - object
                            - "null"
                          properties: {}
                          description: Meta data for the amenity
                        name_normalized:
                          type:
                            - string
                            - "null"
                          enum:
                            - ACCENT_WALLS
                            - ADDITIONAL_STORAGE
                            - AIR_CON
                            - AIR_CONDITIONING_COMMERCIAL
                            - AIR_CONDITIONING
                            - ALARM
                            - APPLIANCES_INCLUDED
                            - AVAILABILITY_24_HOURS
                            - BALCONY_OR_DECK_OR_PATIO
                            - BALCONY
                            - BASKETBALL_COURT
                            - BEACH_ACCESS
                            - BILINGUAL
                            - BOAT_DOCKS
                            - BROADBAND_INTERNET
                            - BUSINESS_CENTER
                            - CABLE_READY_COMMERCIAL
                            - CABLE_READY
                            - CABLE
                            - CAR_WASH_AREA
                            - CARPET
                            - CARPORT
                            - CEILING_FAN
                            - CHILD_CARE
                            - CLUB_DISCOUNT
                            - CLUB_HOUSE
                            - CONCIERGE
                            - CONFERENCE_ROOM
                            - CONTROLLED_ACCESS
                            - COURTYARD
                            - DISHWASHER
                            - DISPOSAL
                            - DOCK_HIGH_DOORS_OR_LOADING_AVAILABLE
                            - DOOR_ATTENDANT
                            - DOUBLE_SINK_VANITY
                            - DRYER
                            - ELECTRIC
                            - ELEVATOR
                            - FENCED_YARD
                            - FIREPLACE
                            - FITNESS_CENTER
                            - FRAMED_MIRRORS
                            - FREE_WEIGHTS
                            - FURNISHED_AVAILABLE
                            - FURNISHED
                            - GAMING_STATIONS
                            - GARAGE_PARKING
                            - GARAGE
                            - GAS
                            - GATE
                            - GROCERY_SERVICE
                            - GRILL
                            - GROUP_EXERCISE
                            - GUEST_ROOM
                            - HANDRAILS
                            - HARDWOOD_FLOORS
                            - HEAT_ELECTRIC
                            - HEAT_GAS
                            - HEAT_OIL
                            - HEAT
                            - HEATING
                            - HIGH_SPEED_INTERNET_COMMERCIAL
                            - HIGH_SPEED_INTERNET
                            - HOT_WATER
                            - HOUSE_SITTING
                            - HOUSEKEEPING
                            - INDIVIDUAL_CLIMATE_CONTROL
                            - ISLAND_KITCHEN
                            - JOGGING_WALKING_TRAILS
                            - LAKE_ACCESS
                            - LAKE_FRONT
                            - LAUNDRY_ROOM_OR_HOOKUPS
                            - LAUNDRY_ROOM
                            - LIBRARY
                            - LINEN_CLOSET
                            - MEAL_SERVICE
                            - MEDIA_ROOM
                            - MICROWAVE
                            - MULTI_USE_ROOM
                            - NIGHT_PATROL
                            - ON_SITE_MAINTENANCE
                            - ON_SITE_MANAGEMENT
                            - OTHER
                            - OVEN_OR_RANGE
                            - PACKAGE_RECEIVING
                            - PANTRY
                            - PARKING_COMMERCIAL
                            - PARKING
                            - PER_DIEM_ACCEPTED
                            - PETS_ALLOWED
                            - PLAY_GROUND
                            - POOL
                            - POWER
                            - PRIVATE_BALCONY
                            - PRIVATE_PATIO
                            - RACQUETBALL
                            - REC_ROOM
                            - RECYCLING
                            - REFRIGERATOR
                            - SATELLITE
                            - SAUNA
                            - SECURITY
                            - SEWER
                            - SHORT_TERM_LEASE
                            - SKYLIGHT
                            - SMOKE_FREE
                            - SPA
                            - SPRINKLER_SYSTEM
                            - STORAGE_UNITS
                            - SUNDECK
                            - TELEPHONE
                            - TENNIS_COURT
                            - TILE_FLOORING
                            - TRANSPORTATION
                            - TRASH
                            - TV_LOUNGE
                            - VALET_TRASH
                            - VAULTED_CEILING
                            - VIEW
                            - VINTAGE
                            - VINYL_FLOORING
                            - VOLLEYBALL_COURT
                            - WALK_IN_CLOSETS
                            - WASHER
                            - WATER
                            - WD_HOOKUP
                            - WD_IN_UNIT
                            - WHEEL_CHAIR
                            - WHEELCHAIR_ACCESS
                            - WINDOW_COVERINGS
                            - WIRELESS_INTERNET
                          description: The name associated with the amenity
                        name:
                          type: string
                          description: The name associated with the amenity
                        units:
                          type: array
                          items:
                            type: object
                            properties:
                              amenity_id:
                                type: string
                              unit_id:
                                type: string
                            required:
                              - amenity_id
                              - unit_id
                          description: List of unit ids associated with the amenity
                        integration_id:
                          type: string
                          description: The Propexo unique identifier for the integration
                        integration_vendor:
                          type: string
                          description: The property management system of record
                        property_id:
                          type: string
                          description: The Propexo unique identifier for the property
                      required:
                        - id
                        - created_at
                        - updated_at
                        - last_seen
                        - x_id
                        - x_listing_id
                        - x_parent_amenity_id
                        - x_property_id
                        - x_unit_id
                        - cost_in_cents
                        - custom_data
                        - description
                        - image_urls
                        - meta_data
                        - name_normalized
                        - name
                        - units
                        - integration_id
                        - integration_vendor
                        - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    post:
      tags:
        - amenities
      summary: Create amenity
      description: Create an amenity for an integration.
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_id:
                  type: string
                property_id:
                  type: string
                  description: The Propexo unique identifier for the property
                unit_id:
                  type: string
                  description: The Propexo unique identifier for the unit
                name:
                  type: string
                  description: The name associated with the amenity
                description:
                  type: string
                  description: Description of the amenity
                is_published:
                  type: boolean
                  description: Whether the amenity should be published
              required:
                - integration_id
      responses:
        "200":
          description: Create an amenity for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  /v1/amenities/{amenity_id}:
    put:
      tags:
        - amenities
      summary: Update amenity
      description: Update an amenity for an integration.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: amenity_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name associated with the amenity
                description:
                  type: string
                  description: Description of the amenity
                is_published:
                  type: boolean
                  description: Whether the amenity should be published
      responses:
        "200":
          description: Update an amenity for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
    get:
      tags:
        - amenities
      summary: Get an amenity by ID
      description: Get an amenity by ID
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: amenity_id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get an amenity by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Propexo unique identifier for the amenity
                      created_at:
                        type: string
                        description: The date record first entered Propexo
                      updated_at:
                        type: string
                        description: The date record was last updated in Propexo
                      last_seen:
                        type:
                          - string
                          - "null"
                        description: The date the record was last seen from the PMS
                      x_id:
                        type: string
                        description: The external ID from the integration vendor
                      x_listing_id:
                        type:
                          - string
                          - "null"
                        description: The external ID of the listing from the integration vendor
                      x_parent_amenity_id:
                        type:
                          - string
                          - "null"
                        description: The external ID from the integration vendor of the amenity this
                          unit and/or property amenity is associated with
                      x_property_id:
                        type: string
                        description: The external ID of the property from the integration vendor
                      x_unit_id:
                        type:
                          - string
                          - "null"
                        description: 'DEPRECATED: Please use the "units" field to see the associated
                          units with this amenity'
                        deprecated: true
                      cost_in_cents:
                        type:
                          - number
                          - "null"
                        description: Cost in cents for the amenity
                      custom_data:
                        type:
                          - object
                          - "null"
                        properties: {}
                        description: Custom data
                      description:
                        type:
                          - string
                          - "null"
                        description: Description of the amenity
                      image_urls:
                        type: array
                        items:
                          type: string
                        description: A list of image urls associated with the amenity
                      meta_data:
                        type:
                          - object
                          - "null"
                        properties: {}
                        description: Meta data for the amenity
                      name_normalized:
                        type:
                          - string
                          - "null"
                        enum:
                          - ACCENT_WALLS
                          - ADDITIONAL_STORAGE
                          - AIR_CON
                          - AIR_CONDITIONING_COMMERCIAL
                          - AIR_CONDITIONING
                          - ALARM
                          - APPLIANCES_INCLUDED
                          - AVAILABILITY_24_HOURS
                          - BALCONY_OR_DECK_OR_PATIO
                          - BALCONY
                          - BASKETBALL_COURT
                          - BEACH_ACCESS
                          - BILINGUAL
                          - BOAT_DOCKS
                          - BROADBAND_INTERNET
                          - BUSINESS_CENTER
                          - CABLE_READY_COMMERCIAL
                          - CABLE_READY
                          - CABLE
                          - CAR_WASH_AREA
                          - CARPET
                          - CARPORT
                          - CEILING_FAN
                          - CHILD_CARE
                          - CLUB_DISCOUNT
                          - CLUB_HOUSE
                          - CONCIERGE
                          - CONFERENCE_ROOM
                          - CONTROLLED_ACCESS
                          - COURTYARD
                          - DISHWASHER
                          - DISPOSAL
                          - DOCK_HIGH_DOORS_OR_LOADING_AVAILABLE
                          - DOOR_ATTENDANT
                          - DOUBLE_SINK_VANITY
                          - DRYER
                          - ELECTRIC
                          - ELEVATOR
                          - FENCED_YARD
                          - FIREPLACE
                          - FITNESS_CENTER
                          - FRAMED_MIRRORS
                          - FREE_WEIGHTS
                          - FURNISHED_AVAILABLE
                          - FURNISHED
                          - GAMING_STATIONS
                          - GARAGE_PARKING
                          - GARAGE
                          - GAS
                          - GATE
                          - GROCERY_SERVICE
                          - GRILL
                          - GROUP_EXERCISE
                          - GUEST_ROOM
                          - HANDRAILS
                          - HARDWOOD_FLOORS
                          - HEAT_ELECTRIC
                          - HEAT_GAS
                          - HEAT_OIL
                          - HEAT
                          - HEATING
                          - HIGH_SPEED_INTERNET_COMMERCIAL
                          - HIGH_SPEED_INTERNET
                          - HOT_WATER
                          - HOUSE_SITTING
                          - HOUSEKEEPING
                          - INDIVIDUAL_CLIMATE_CONTROL
                          - ISLAND_KITCHEN
                          - JOGGING_WALKING_TRAILS
                          - LAKE_ACCESS
                          - LAKE_FRONT
                          - LAUNDRY_ROOM_OR_HOOKUPS
                          - LAUNDRY_ROOM
                          - LIBRARY
                          - LINEN_CLOSET
                          - MEAL_SERVICE
                          - MEDIA_ROOM
                          - MICROWAVE
                          - MULTI_USE_ROOM
                          - NIGHT_PATROL
                          - ON_SITE_MAINTENANCE
                          - ON_SITE_MANAGEMENT
                          - OTHER
                          - OVEN_OR_RANGE
                          - PACKAGE_RECEIVING
                          - PANTRY
                          - PARKING_COMMERCIAL
                          - PARKING
                          - PER_DIEM_ACCEPTED
                          - PETS_ALLOWED
                          - PLAY_GROUND
                          - POOL
                          - POWER
                          - PRIVATE_BALCONY
                          - PRIVATE_PATIO
                          - RACQUETBALL
                          - REC_ROOM
                          - RECYCLING
                          - REFRIGERATOR
                          - SATELLITE
                          - SAUNA
                          - SECURITY
                          - SEWER
                          - SHORT_TERM_LEASE
                          - SKYLIGHT
                          - SMOKE_FREE
                          - SPA
                          - SPRINKLER_SYSTEM
                          - STORAGE_UNITS
                          - SUNDECK
                          - TELEPHONE
                          - TENNIS_COURT
                          - TILE_FLOORING
                          - TRANSPORTATION
                          - TRASH
                          - TV_LOUNGE
                          - VALET_TRASH
                          - VAULTED_CEILING
                          - VIEW
                          - VINTAGE
                          - VINYL_FLOORING
                          - VOLLEYBALL_COURT
                          - WALK_IN_CLOSETS
                          - WASHER
                          - WATER
                          - WD_HOOKUP
                          - WD_IN_UNIT
                          - WHEEL_CHAIR
                          - WHEELCHAIR_ACCESS
                          - WINDOW_COVERINGS
                          - WIRELESS_INTERNET
                        description: The name associated with the amenity
                      name:
                        type: string
                        description: The name associated with the amenity
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            amenity_id:
                              type: string
                            unit_id:
                              type: string
                          required:
                            - amenity_id
                            - unit_id
                        description: List of unit ids associated with the amenity
                      integration_id:
                        type: string
                        description: The Propexo unique identifier for the integration
                      integration_vendor:
                        type: string
                        description: The property management system of record
                      property_id:
                        type: string
                        description: The Propexo unique identifier for the property
                    required:
                      - id
                      - created_at
                      - updated_at
                      - last_seen
                      - x_id
                      - x_listing_id
                      - x_parent_amenity_id
                      - x_property_id
                      - x_unit_id
                      - cost_in_cents
                      - custom_data
                      - description
                      - image_urls
                      - meta_data
                      - name_normalized
                      - name
                      - units
                      - integration_id
                      - integration_vendor
                      - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
  /v1/applicants:
    get:
      tags:
        - applicants
      summary: Get all applicants
      description: Get all applicants
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external ID from the integration vendor
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the location associated with the
              property. This is the location specified in RentManager
          required: false
          name: location_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the property
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the integration
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - RENTVINE
              - REALPAGE_RPX
              - MRI
              - RESMAN
            description: The property management system of record
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: Get all applicants
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propexo unique identifier for the applicant
                        created_at:
                          type: string
                          description: The date record first entered Propexo
                        updated_at:
                          type: string
                          description: The date record was last updated in Propexo
                        last_seen:
                          type:
                            - string
                            - "null"
                          description: The date the record was last seen from the PMS
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_unit_id:
                          type:
                            - string
                            - "null"
                          description: The external ID of the unit from the integration vendor
                        x_lease_id:
                          type:
                            - string
                            - "null"
                          description: "DEPRECATED: Not in use."
                          deprecated: true
                        x_lead_id:
                          type:
                            - string
                            - "null"
                          description: The external ID of the lead from the integration vendor
                        address_1_alternate:
                          type:
                            - string
                            - "null"
                          description: The first alternate address line associated with the applicant
                        address_1:
                          type:
                            - string
                            - "null"
                          description: The first address line associated with the applicant
                        address_2_alternate:
                          type:
                            - string
                            - "null"
                          description: The second alternate address line associated with the applicant
                        address_2:
                          type:
                            - string
                            - "null"
                          description: The second address line associated with the applicant
                        applications:
                          type: array
                          items:
                            type: object
                            properties:
                              applicant_id:
                                type: string
                              application_id:
                                type: string
                              status:
                                type:
                                  - string
                                  - "null"
                                description: DEPRECATED. Use status_raw
                                deprecated: true
                              status_raw:
                                type:
                                  - string
                                  - "null"
                                description: The raw status associated with the applicant
                              status_normalized:
                                type:
                                  - string
                                  - "null"
                                description: The normalized status associated with the applicant. Confirm these
                                  derived values before using them in
                                  production.
                            required:
                              - applicant_id
                              - application_id
                          description: Applications that the applicant has submitted
                        city_alternate:
                          type:
                            - string
                            - "null"
                          description: The alternate city associated with the applicant
                        city:
                          type:
                            - string
                            - "null"
                          description: The city associated with the applicant
                        country_alternate:
                          type:
                            - string
                            - "null"
                          description: The alternate country associated with the applicant
                        country:
                          type:
                            - string
                            - "null"
                          description: The country associated with the applicant
                        custom_data:
                          type:
                            - object
                            - "null"
                          properties: {}
                          description: Custom data
                        date_of_birth:
                          type:
                            - string
                            - "null"
                          description: The date of birth associated with the applicant
                        email_1:
                          type:
                            - string
                            - "null"
                          description: The primary email address associated with the applicant
                        email_2:
                          type:
                            - string
                            - "null"
                          description: The secondary email address associated with the applicant
                        first_name:
                          type:
                            - string
                            - "null"
                          description: The first name associated with the applicant
                        last_name:
                          type:
                            - string
                            - "null"
                          description: The last name associated with the applicant
                        middle_name:
                          type:
                            - string
                            - "null"
                          description: The middle name associated with the applicant
                        notes:
                          type:
                            - string
                            - "null"
                          description: Notes associated with the applicant
                        phone_1_type:
                          type:
                            - string
                            - "null"
                          enum:
                            - FAX
                            - HOME
                            - MOBILE
                            - OTHER
                            - WORK
                          description: Type of the primary phone number
                        phone_1:
                          type:
                            - string
                            - "null"
                          description: "'Primary phone number associated with the applicant"
                        phone_2_type:
                          type:
                            - string
                            - "null"
                          enum:
                            - FAX
                            - HOME
                            - MOBILE
                            - OTHER
                            - WORK
                          description: Type of the secondary phone number
                        phone_2:
                          type:
                            - string
                            - "null"
                          description: "'Secondary phone number associated with the applicant"
                        state_alternate:
                          type:
                            - string
                            - "null"
                          description: The alternate state associated with the applicant
                        state:
                          type:
                            - string
                            - "null"
                          description: The state associated with the applicant
                        zip_alternate:
                          type:
                            - string
                            - "null"
                          description: The alternate zip code associated with the applicant
                        zip:
                          type:
                            - string
                            - "null"
                          description: The zip code associated with the applicant
                        integration_id:
                          type: string
                          description: The Propexo unique identifier for the integration
                        integration_vendor:
                          type: string
                          description: The property management system of record
                        property_id:
                          type: string
                          description: The Propexo unique identifier for the property
                        screenings:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The Propexo ID of the screening
                              created_at:
                                type: string
                                description: The date record first entered Propexo
                              last_seen:
                                type: string
                                description: The date the record was last seen from the PMS
                              x_id:
                                type: string
                                description: The external ID from the integration vendor
                              status_raw:
                                type:
                                  - string
                                  - "null"
                                description: The status/results of the screening
                              screening_date:
                                type:
                                  - string
                                  - "null"
                                description: The date the screening took place
                            required:
                              - id
                              - created_at
                              - last_seen
                              - x_id
                              - status_raw
                              - screening_date
                      required:
                        - id
                        - created_at
                        - updated_at
                        - last_seen
                        - x_id
                        - x_property_id
                        - x_unit_id
                        - x_lease_id
                        - x_lead_id
                        - address_1_alternate
                        - address_1
                        - address_2_alternate
                        - address_2
                        - applications
                        - city_alternate
                        - city
                        - country_alternate
                        - country
                        - custom_data
                        - date_of_birth
                        - email_1
                        - email_2
                        - first_name
                        - last_name
                        - middle_name
                        - notes
                        - phone_1_type
                        - phone_1
                        - phone_2_type
                        - phone_2
                        - state_alternate
                        - state
                        - zip_alternate
                        - zip
                        - integration_id
                        - integration_vendor
                        - property_id
                        - screenings
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    post:
      tags:
        - applicants
      summary: Create applicant
      description: Create an applicant for an integration.
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_id:
                  type: string
                unit_id:
                  type: string
                  description: The Propexo unique identifier for the unit
                first_name:
                  type: string
                  description: The first name associated with the applicant
                last_name:
                  type: string
                  description: The last name associated with the applicant
                send_rental_application_email:
                  type: boolean
                  default: false
                  description: Whether to send the new applicant an email with a link to the
                    online application form
                email_1:
                  type: string
                  description: The primary email address associated with the applicant
                phone_1:
                  type: string
                  description: "'Primary phone number associated with the applicant"
                phone_1_type:
                  type: string
                  enum:
                    - FAX
                    - HOME
                    - MOBILE
                    - WORK
                  description: Type of the primary phone number
                phone_2:
                  type: string
                  description: "'Secondary phone number associated with the applicant"
                phone_2_type:
                  type: string
                  enum:
                    - FAX
                    - HOME
                    - MOBILE
                    - OTHER
                    - WORK
                  description: Type of the secondary phone number
                custom_data:
                  type: object
                  properties: {}
                  description: "Deprecated: Field is no longer applicable"
                  deprecated: true
                property_id:
                  type: string
                  description: The Propexo unique identifier for the property
                lease_period_id:
                  type: string
                  description: The Propexo unique identifier for the lease period
                lead_source_id:
                  type: string
                  description: The Propexo unique identifier for the lead source
                address_1:
                  type: string
                  description: The first address line associated with the applicant
                application_status:
                  type: string
                  enum:
                    - COMPLETED
                    - APPROVED
                  description: The status associated with the application
                city:
                  type: string
                  description: The city associated with the applicant
                state:
                  type: string
                  description: The state associated with the applicant
                zip:
                  type: string
                  description: The zip code associated with the applicant
                address_2:
                  type: string
                  description: The second address line associated with the applicant
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      file_data:
                        type: string
                        maxLength: 69730304
                        description: The contents of the file, as a base64 encoded string. The PMS has a
                          max file size of 50 MB.
                      file_name:
                        type: string
                        description: 'The name of the file including the extension. Ex: "image.jpg"'
                      mime_type:
                        type: string
                        description: 'The mime type of the file. Ex: "image/jpeg"'
                      lease_file_type:
                        type: string
                        description: "Deprecated: Use the `file_type_id` field instead. The PMS specific
                          lease file type of the document"
                      file_type_id:
                        type: string
                        description: The Propexo file type ID of the lease file type to upload. Prefer
                          this over the raw input of the lease_file_type.
                      is_private:
                        type: boolean
                        description: If the file should be marked as private. If true the file will not
                          be shown in the resident portal.
                    required:
                      - file_data
                      - file_name
                      - mime_type
                  description: Files to upload for the applicant
                date_of_birth:
                  type: string
                  format: date-time
                  description: The date of birth associated with the applicant
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      event_name:
                        type: string
                        enum:
                          - Other
                          - WalkIn
                          - Chat
                          - Email
                          - Text
                          - Webservice
                          - Appointment
                          - Show
                          - Application
                          - SelfGuidedTour
                          - Application
                        description: The name/type of the event. This has to be from a predefined set of
                          PMS events.
                      event_datetime:
                        type: string
                        format: date-time
                        description: The date and time that the event occurred.
                      notes:
                        type: string
                        maxLength: 256
                        description: General notes about the event.
                      agent_name:
                        type: string
                        description: The name of the agent associated with the address.
                      lead_source:
                        type: string
                        description: The source of the lead associated with the lead event. This has to
                          be from a preset list of lead sources that have to be
                          registered inside of the PMS.
                      reasons_for_event:
                        type: string
                        description: The reason the event occurred.
                      unit_id:
                        type: string
                        description: The Propexo unit ID associated with the lead event. Only some PMS
                          events use this, including "Show" and "Appointment".
                    required:
                      - event_name
                      - event_datetime
                      - agent_name
                  description: "DEPRECATED: Please use /events endpoints to write events. Array of
                    events associated with this applicant"
                  deprecated: true
                move_in_date:
                  type: string
                  format: date-time
                  description: The move-in date associated with the lease
                middle_name:
                  type: string
                  description: The middle name associated with the applicant
                lead_id:
                  type: string
                  description: The Propexo unique identifier for the lead
                application_date:
                  type: string
                  format: date-time
                  description: The application date associated with the applicant
                start_date:
                  type: string
                  format: date-time
                  description: The start date associated with the lease
                end_date:
                  type: string
                  format: date-time
                  description: The end date associated with the lease
                status:
                  type: string
                  enum:
                    - PENDING
                    - APPROVED
                    - CANCELED
                    - DENIED
                    - SIGNED
                  description: The status associated with the application
                rent_amount_market_in_cents:
                  type: integer
                  description: The market rent amount in cents for the lease
                organization_name:
                  type: string
                  description: The name of your organization. Other uses this for associating an
                    applicant
                unique_applicant_id:
                  type: string
                  description: A unique ID you associate with a applicant. This is not the Other
                    applicant ID.
                target_move_in_date:
                  anyOf:
                    - type: string
                      format: date-time
                    - type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                  description: The target move in date for the applicant. The timestamp will be
                    stripped off and only the date will be used
                desired_num_bedrooms:
                  type: number
                  description: The desired number of bedrooms of the applicant
                desired_lease_term_in_months:
                  type: string
                  description: The desired lease term in months of the applicant
                notes:
                  type: string
                  description: Notes associated with the applicant
                leasing_agent:
                  type: string
                  description: The full name of the leasing agent associated with the applicant
                lead_source:
                  type: string
                  description: The name of the lead source associated with the applicant
              required:
                - integration_id
      responses:
        "200":
          description: Create an applicant for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  /v1/applicants/{id}:
    get:
      tags:
        - applicants
      summary: Get an applicant by ID
      description: Get an applicant by ID
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get an applicant by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Propexo unique identifier for the applicant
                      created_at:
                        type: string
                        description: The date record first entered Propexo
                      updated_at:
                        type: string
                        description: The date record was last updated in Propexo
                      last_seen:
                        type:
                          - string
                          - "null"
                        description: The date the record was last seen from the PMS
                      x_id:
                        type: string
                        description: The external ID from the integration vendor
                      x_property_id:
                        type: string
                        description: The external ID of the property from the integration vendor
                      x_unit_id:
                        type:
                          - string
                          - "null"
                        description: The external ID of the unit from the integration vendor
                      x_lease_id:
                        type:
                          - string
                          - "null"
                        description: "DEPRECATED: Not in use."
                        deprecated: true
                      x_lead_id:
                        type:
                          - string
                          - "null"
                        description: The external ID of the lead from the integration vendor
                      address_1_alternate:
                        type:
                          - string
                          - "null"
                        description: The first alternate address line associated with the applicant
                      address_1:
                        type:
                          - string
                          - "null"
                        description: The first address line associated with the applicant
                      address_2_alternate:
                        type:
                          - string
                          - "null"
                        description: The second alternate address line associated with the applicant
                      address_2:
                        type:
                          - string
                          - "null"
                        description: The second address line associated with the applicant
                      applications:
                        type: array
                        items:
                          type: object
                          properties:
                            applicant_id:
                              type: string
                            application_id:
                              type: string
                            status:
                              type:
                                - string
                                - "null"
                              description: DEPRECATED. Use status_raw
                              deprecated: true
                            status_raw:
                              type:
                                - string
                                - "null"
                              description: The raw status associated with the applicant
                            status_normalized:
                              type:
                                - string
                                - "null"
                              description: The normalized status associated with the applicant. Confirm these
                                derived values before using them in production.
                          required:
                            - applicant_id
                            - application_id
                        description: Applications that the applicant has submitted
                      city_alternate:
                        type:
                          - string
                          - "null"
                        description: The alternate city associated with the applicant
                      city:
                        type:
                          - string
                          - "null"
                        description: The city associated with the applicant
                      country_alternate:
                        type:
                          - string
                          - "null"
                        description: The alternate country associated with the applicant
                      country:
                        type:
                          - string
                          - "null"
                        description: The country associated with the applicant
                      custom_data:
                        type:
                          - object
                          - "null"
                        properties: {}
                        description: Custom data
                      date_of_birth:
                        type:
                          - string
                          - "null"
                        description: The date of birth associated with the applicant
                      email_1:
                        type:
                          - string
                          - "null"
                        description: The primary email address associated with the applicant
                      email_2:
                        type:
                          - string
                          - "null"
                        description: The secondary email address associated with the applicant
                      first_name:
                        type:
                          - string
                          - "null"
                        description: The first name associated with the applicant
                      last_name:
                        type:
                          - string
                          - "null"
                        description: The last name associated with the applicant
                      middle_name:
                        type:
                          - string
                          - "null"
                        description: The middle name associated with the applicant
                      notes:
                        type:
                          - string
                          - "null"
                        description: Notes associated with the applicant
                      phone_1_type:
                        type:
                          - string
                          - "null"
                        enum:
                          - FAX
                          - HOME
                          - MOBILE
                          - OTHER
                          - WORK
                        description: Type of the primary phone number
                      phone_1:
                        type:
                          - string
                          - "null"
                        description: "'Primary phone number associated with the applicant"
                      phone_2_type:
                        type:
                          - string
                          - "null"
                        enum:
                          - FAX
                          - HOME
                          - MOBILE
                          - OTHER
                          - WORK
                        description: Type of the secondary phone number
                      phone_2:
                        type:
                          - string
                          - "null"
                        description: "'Secondary phone number associated with the applicant"
                      state_alternate:
                        type:
                          - string
                          - "null"
                        description: The alternate state associated with the applicant
                      state:
                        type:
                          - string
                          - "null"
                        description: The state associated with the applicant
                      zip_alternate:
                        type:
                          - string
                          - "null"
                        description: The alternate zip code associated with the applicant
                      zip:
                        type:
                          - string
                          - "null"
                        description: The zip code associated with the applicant
                      integration_id:
                        type: string
                        description: The Propexo unique identifier for the integration
                      integration_vendor:
                        type: string
                        description: The property management system of record
                      property_id:
                        type: string
                        description: The Propexo unique identifier for the property
                      screenings:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The Propexo ID of the screening
                            created_at:
                              type: string
                              description: The date record first entered Propexo
                            last_seen:
                              type: string
                              description: The date the record was last seen from the PMS
                            x_id:
                              type: string
                              description: The external ID from the integration vendor
                            status_raw:
                              type:
                                - string
                                - "null"
                              description: The status/results of the screening
                            screening_date:
                              type:
                                - string
                                - "null"
                              description: The date the screening took place
                          required:
                            - id
                            - created_at
                            - last_seen
                            - x_id
                            - status_raw
                            - screening_date
                    required:
                      - id
                      - created_at
                      - updated_at
                      - last_seen
                      - x_id
                      - x_property_id
                      - x_unit_id
                      - x_lease_id
                      - x_lead_id
                      - address_1_alternate
                      - address_1
                      - address_2_alternate
                      - address_2
                      - applications
                      - city_alternate
                      - city
                      - country_alternate
                      - country
                      - custom_data
                      - date_of_birth
                      - email_1
                      - email_2
                      - first_name
                      - last_name
                      - middle_name
                      - notes
                      - phone_1_type
                      - phone_1
                      - phone_2_type
                      - phone_2
                      - state_alternate
                      - state
                      - zip_alternate
                      - zip
                      - integration_id
                      - integration_vendor
                      - property_id
                      - screenings
                required:
                  - meta
                  - results
        "400":
          description: invalid input
    put:
      tags:
        - applicants
      summary: Update applicant
      description: Update an applicant for an integration.
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: The last name associated with the applicant
                first_name:
                  type: string
                  description: The first name associated with the applicant
                x_unit_id:
                  type: string
                  description: "Deprecated: The external ID of the unit from the integration
                    vendor"
                email_1:
                  type: string
                  description: The primary email address associated with the applicant
                phone_1:
                  type: string
                  description: "'Primary phone number associated with the applicant"
                phone_1_type:
                  type: string
                  enum:
                    - FAX
                    - HOME
                    - MOBILE
                    - WORK
                  description: Type of the primary phone number
                phone_2:
                  type: string
                  description: "'Secondary phone number associated with the applicant"
                phone_2_type:
                  type: string
                  enum:
                    - FAX
                    - HOME
                    - MOBILE
                    - OTHER
                    - WORK
                  description: Type of the secondary phone number
                applicant_id:
                  type: string
                  description: The Propexo unique identifier for the applicant
                application_id:
                  type: string
                  description: The Propexo unique identifier for the application
                lease_period_id:
                  type: string
                  description: The Propexo unique identifier for the lease period
                unit_id:
                  type: string
                  description: The Propexo unique identifier for the unit
                lead_source_id:
                  type: string
                  description: The Propexo unique identifier for the lead source
                address_1:
                  type: string
                  description: The first address line associated with the applicant
                address_2:
                  type: string
                  description: The second address line associated with the applicant
                application_status:
                  type: string
                  enum:
                    - COMPLETED
                    - APPROVED
                  description: The status associated with the application
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      file_data:
                        type: string
                        maxLength: 69730304
                        description: The contents of the file, as a base64 encoded string. The PMS has a
                          max file size of 50 MB.
                      file_name:
                        type: string
                        description: 'The name of the file including the extension. Ex: "image.jpg"'
                      mime_type:
                        type: string
                        description: 'The mime type of the file. Ex: "image/jpeg"'
                      lease_file_type:
                        type: string
                        description: "Deprecated: Use the `file_type_id` field instead. The PMS specific
                          lease file type of the document"
                      file_type_id:
                        type: string
                        description: The Propexo file type ID of the lease file type to upload. Prefer
                          this over the raw input of the lease_file_type.
                      is_private:
                        type: boolean
                        description: If the file should be marked as private. If true the file will not
                          be shown in the resident portal.
                    required:
                      - file_data
                      - file_name
                      - mime_type
                  description: Files to upload for the applicant
                city:
                  type: string
                  description: The city associated with the applicant
                create_new_events_only:
                  anyOf:
                    - type: boolean
                    - type: string
                  description: Whether or not new events should be created on the applicant
                date_of_birth:
                  type: string
                  format: date-time
                  description: The date of birth associated with the applicant
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      event_name:
                        type: string
                        enum:
                          - Other
                          - WalkIn
                          - Chat
                          - Email
                          - Text
                          - Webservice
                          - Appointment
                          - Show
                          - Application
                          - SelfGuidedTour
                          - Application
                        description: The name/type of the event. This has to be from a predefined set of
                          PMS events.
                      event_datetime:
                        type: string
                        format: date-time
                        description: The date and time that the event occurred.
                      notes:
                        type: string
                        maxLength: 256
                        description: General notes about the event.
                      agent_name:
                        type: string
                        description: The name of the agent associated with the address.
                      lead_source:
                        type: string
                        description: The source of the lead associated with the lead event. This has to
                          be from a preset list of lead sources that have to be
                          registered inside of the PMS.
                      reasons_for_event:
                        type: string
                        description: The reason the event occurred.
                      unit_id:
                        type: string
                        description: The Propexo unit ID associated with the lead event. Only some PMS
                          events use this, including "Show" and "Appointment".
                      id:
                        type: string
                        description: The Propexo unique identifier for the event. Required if attempting
                          to update an existing event associated with an
                          applicant.
                    required:
                      - event_name
                      - event_datetime
                      - agent_name
                  description: "DEPRECATED: Please use /events endpoints to write events. Array of
                    events associated with this applicant"
                  deprecated: true
                move_in_date:
                  type: string
                  format: date-time
                  description: The move-in date associated with the lease
                state:
                  type: string
                  description: The state associated with the applicant
                zip:
                  type: string
                  description: The zip code associated with the applicant
                middle_name:
                  type: string
                  description: The middle name associated with the applicant
                country:
                  type: string
                  description: The country associated with the applicant
                x_property_id:
                  type: string
                  description: The external ID of the property from the integration vendor
                application_date:
                  type: string
                  format: date-time
                  description: The application date associated with the applicant
                start_date:
                  type: string
                  format: date-time
                  description: The start date associated with the applicant
                end_date:
                  type: string
                  format: date-time
                  description: The end date associated with the applicant
                status:
                  type: string
                  enum:
                    - PENDING
                    - APPROVED
                    - CANCELED
                    - DENIED
                    - SIGNED
                  description: The status associated with the applicant
                rent_amount_market_in_cents:
                  type: integer
                  description: The market rent amount in cents for the lease
                notes:
                  type: string
                  description: Notes associated with the applicant
      responses:
        "200":
          description: Update an applicant for an integration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: The ID of the job created to handle this operation
                  data:
                    type: object
                    properties: {}
                    description: Returned data from the operation. This is dependent on the vendor
                      specific endpoint's returned data.
                required:
                  - job_id
                  - data
        "400":
          description: invalid input
  /v1/applications:
    get:
      tags:
        - applications
      summary: Get all applications
      description: Get all applications
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: The external applicant id
          required: false
          name: x_id
          in: query
        - schema:
            type: string
            description: The Propexo unique identifier for the location associated with the
              property. This is the location specified in RentManager
          required: false
          name: location_id
          in: query
        - schema:
            type: string
            description: The Propexo property id
          required: false
          name: property_id
          in: query
        - schema:
            type: string
            description: The Propexo integration id
          required: false
          name: integration_id
          in: query
        - schema:
            type: string
            enum:
              - BUILDIUM
              - ENTRATA
              - PROPERTYWARE
              - REALPAGE
              - RENTMANAGER
              - RENTVINE
              - REALPAGE_RPX
              - MRI
              - RESMAN
            description: The integration vendor for the applicant.
          required: false
          name: integration_vendor
          in: query
      responses:
        "200":
          description: Get all applications
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 0
                        maximum: 250
                      orderBy:
                        type: array
                        items:
                          type: object
                          properties: {}
                      hasMore:
                        type:
                          - boolean
                          - "null"
                      total:
                        type: integer
                        minimum: 0
                    required:
                      - orderBy
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Propexo unique identifier for the application
                        created_at:
                          type: string
                          description: The date record first entered Propexo
                        updated_at:
                          type: string
                          description: The date record was last updated in Propexo
                        last_seen:
                          type:
                            - string
                            - "null"
                          description: The date the record was last seen from the PMS
                        x_id:
                          type: string
                          description: The external ID from the integration vendor
                        x_location_id:
                          type:
                            - string
                            - "null"
                          description: The external ID of the location from the integration vendor
                        x_property_id:
                          type: string
                          description: The external ID of the property from the integration vendor
                        x_unit_id:
                          type:
                            - string
                            - "null"
                          description: The external ID of the unit from the integration vendor
                        status:
                          type: string
                          description: The application status
                        custom_data:
                          type:
                            - object
                            - "null"
                          properties: {}
                          description: Custom data
                        applicants:
                          type: array
                          items:
                            type: object
                            properties:
                              applicant_id:
                                type: string
                              application_id:
                                type: string
                              status:
                                type:
                                  - string
                                  - "null"
                                description: DEPRECATED. Use status_raw
                                deprecated: true
                              status_raw:
                                type:
                                  - string
                                  - "null"
                                description: The raw status associated with the applicant
                              status_normalized:
                                type:
                                  - string
                                  - "null"
                                description: The normalized status associated with the applicant. Confirm these
                                  derived values before using them in
                                  production.
                            required:
                              - applicant_id
                              - application_id
                          description: Applicants associated with the application
                        integration_id:
                          type: string
                          description: The Propexo unique identifier for the integration
                        integration_vendor:
                          type: string
                          description: The property management system of record
                        property_id:
                          type: string
                          description: The Propexo unique identifier for the property
                      required:
                        - id
                        - created_at
                        - updated_at
                        - last_seen
                        - x_id
                        - x_location_id
                        - x_property_id
                        - x_unit_id
                        - status
                        - custom_data
                        - applicants
                        - integration_id
                        - integration_vendor
                        - property_id
                required:
                  - meta
                  - results
        "400":
          description: invalid input
  /v1/applications/{id}:
    get:
      tags:
        - applications
      summary: Get an application by ID
      description: Get an application by ID
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: The ID of the resource.
          required: true
          name: id
          in: path
        - schema:
            type: string
            default: created_at:desc
            description: "Order the results by a field. Optionally include asc or desc
              preceded by a colon (default is asc). Example:
              ?order-by=updated_at:desc"
          required: false
          name: order-by
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            default: 0
            description: Can be used for paginating results
          required: false
          name: offset
          in: query
        - schema:
            type:
              - integer
              - "null"
            minimum: 0
            maximum: 250
            default: 100
            description: A number between 1 and 250 to determine the number of results to
              return in a single query
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Get an application by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
[...]
