openapi: 3.1.0
info:
  version: 1.0.0
  title: Propexo API
servers:
  - url: https://api.propexo.com
    x-fern-server-name: Production
  - url: https://api.sandbox.propexo.com
    x-fern-server-name: Sandbox
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    _v1_admin_data-diffs__get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        integration_vendor:
          type: string
          enum:
            - SAMPLE2
            - BUILDIUM
            - ENTRATA
            - MRI
            - PROPERTYWARE
            - REALPAGE
            - REALPAGE_RPX
            - RENTMANAGER
            - RENTVINE
            - RESMAN
            - SAMPLE1
        integration_id:
          type: string
        before:
          type:
            - string
            - "null"
        after:
          type:
            - string
            - "null"
    _v1_admin_data-diffs__get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier for the data diff
              model:
                type: string
                description: The name of the model the data diff is for
              event_type:
                type: string
                enum:
                  - NEW
                  - UPDATE
                description: The data diff event type
              data_diff:
                type: object
                properties: {}
              created_at:
                type: string
                description: The date the data diff was created
              job_id:
                type:
                  - string
                  - "null"
              integration_id:
                type: string
                description: The integration id
              integration_vendor:
                type: string
                enum:
                  - SAMPLE2
                  - BUILDIUM
                  - ENTRATA
                  - MRI
                  - PROPERTYWARE
                  - REALPAGE
                  - REALPAGE_RPX
                  - RENTMANAGER
                  - RENTVINE
                  - RESMAN
                  - SAMPLE1
                description: The property management system of record
            required:
              - id
              - model
              - event_type
              - data_diff
              - created_at
              - job_id
              - integration_id
              - integration_vendor
      required:
        - meta
        - results
    _v1_admin_job-logs_:job_log_id__get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        job_log_id:
          type: string
      required:
        - job_log_id
    _v1_admin_job-logs_:job_log_id__get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type: object
          properties:
            id:
              type: string
            job_id:
              type:
                - string
                - "null"
            created_at:
              type: string
            job_type:
              type: string
            status:
              type: string
            parent_job_id:
              type:
                - string
                - "null"
            root_job_id:
              type: string
            job_schedule_id:
              type:
                - string
                - "null"
            integration_id:
              type: string
          required:
            - id
            - job_id
            - created_at
            - job_type
            - status
            - parent_job_id
            - root_job_id
            - job_schedule_id
            - integration_id
      required:
        - meta
        - results
    _v1_admin_job-logs_:job_log_id_data_get_input:
      type: object
      properties:
        job_log_id:
          type: string
          description: The ID of the job log.
      required:
        - job_log_id
    _v1_admin_job-logs_:job_log_id_data_get_output:
      type: object
      properties: {}
    _v1_admin_logs_jobs__get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        status:
          type: string
          enum:
            - SUCCESS
            - FAILURE
        integration_id:
          type: string
        job_type:
          type: string
    _v1_admin_logs_jobs__get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              job_id:
                type:
                  - string
                  - "null"
              created_at:
                type: string
              job_type:
                type: string
              status:
                type: string
              parent_job_id:
                type:
                  - string
                  - "null"
              root_job_id:
                type: string
              job_schedule_id:
                type:
                  - string
                  - "null"
              integration_id:
                type: string
            required:
              - id
              - job_id
              - created_at
              - job_type
              - status
              - parent_job_id
              - root_job_id
              - job_schedule_id
              - integration_id
      required:
        - meta
        - results
    _v1_admin_logs_jobs_:id_get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        id:
          type: string
        include_all_jobs:
          type: string
          default: "true"
          description: Whether to include job logs from jobs that have spawned from the
            provided job id.
      required:
        - id
    _v1_admin_logs_jobs_:id_get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              job_id:
                type:
                  - string
                  - "null"
              created_at:
                type: string
              job_type:
                type: string
              status:
                type: string
              parent_job_id:
                type:
                  - string
                  - "null"
              root_job_id:
                type: string
              job_schedule_id:
                type:
                  - string
                  - "null"
              integration_id:
                type: string
            required:
              - id
              - job_id
              - created_at
              - job_type
              - status
              - parent_job_id
              - root_job_id
              - job_schedule_id
              - integration_id
      required:
        - meta
        - results
    _v1_admin_integrations__get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        integration_vendor:
          type: string
          enum:
            - SAMPLE2
            - BUILDIUM
            - ENTRATA
            - MRI
            - PROPERTYWARE
            - REALPAGE
            - REALPAGE_RPX
            - RENTMANAGER
            - RENTVINE
            - RESMAN
            - SAMPLE1
        is_archived:
          anyOf:
            - type: boolean
            - type: string
    _v1_admin_integrations__get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier for the integration
              created_at:
                type: string
                description: The date the integration was created
              updated_at:
                type: string
                description: The date the integration was last updated
              name:
                type: string
                description: The name of the integration
              vendor:
                type: string
                enum:
                  - SAMPLE2
                  - BUILDIUM
                  - ENTRATA
                  - MRI
                  - PROPERTYWARE
                  - REALPAGE
                  - REALPAGE_RPX
                  - RENTMANAGER
                  - RENTVINE
                  - RESMAN
                  - SAMPLE1
                description: The property management system of record
              active:
                type: boolean
                description: The active state of the integration
              system:
                type: string
                enum:
                  - PRODUCTION
                  - SANDBOX
                description: The system the integration is associated with
              sync_frequency:
                type:
                  - integer
                  - "null"
              sync_cadence:
                type:
                  - string
                  - "null"
                enum:
                  - MINUTE
                  - HOUR
                  - DAY
                  - WEEK
                  - MONTH
                  - SECOND
              max_job_concurrency:
                type: integer
                description: Maximum number of jobs that can be run at once for the integration
              max_request_frequency:
                type: integer
                description: Maximum number of jobs that can be run in the max request cadence
              max_request_cadence:
                type: string
                enum:
                  - MINUTE
                  - HOUR
                  - DAY
                  - WEEK
                  - MONTH
                  - SECOND
                description: Cadence at which to limit the max request frequency
              base_url:
                type:
                  - string
                  - "null"
              is_archived:
                type: boolean
                description: Whether or not the integration is archived
              last_completed_sync:
                type:
                  - string
                  - "null"
              new_properties_are_enabled:
                type: boolean
                description: Whether or not properties need to be approved before ingesting data
                  for them.
              integration_interfaces:
                type: array
                items:
                  type: object
                  properties:
                    interface_name:
                      type: string
                      enum:
                        - REALPAGE_FACILITIES
                        - REALPAGE_RESIDENTS
                        - REALPAGE_PROSPECT_MANAGEMENT
                        - REALPAGE_SDE_CONVERGENT_BILLING
                        - REALPAGE_UNIT
                        - REALPAGE_PRICING_AND_AVAILABILITY
                        - REALPAGE_PROSPECT_MANAGEMENT_ALL_LEADS
                        - REALPAGE_RESIDENTS_APPLICANT_GENERAL_INFO
                        - REALPAGE_PRICING_AND_AVAILABILITY_FLOOR_PLANS
                        - REALPAGE_PROSPECT_MANAGEMENT_LEAD
                        - REALPAGE_PROSPECT_MANAGEMENT_LEAD_SOURCES
                        - REALPAGE_PROSPECT_MANAGEMENT_PROPERTIES
                        - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_LOGS
                        - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_TYPES
                        - REALPAGE_RESIDENTS_RESIDENT_GENERAL_INFO
                        - REALPAGE_RESIDENTS_RESIDENT_LEASE
                        - REALPAGE_RESIDENTS_RESIDENT_LEDGER
                        - REALPAGE_RESIDENTS_RESIDENT_LIST
                        - REALPAGE_FACILITIES_SERVICE_REQUESTS
                        - REALPAGE_PROSPECT_MANAGEMENT_UNITS
                        - REALPAGE_UNIT_UNIT_DETAILS
                        - SAMPLE1_GUESTCARD
                        - SAMPLE1_RESIDENT_TRANSACTIONS
                        - SAMPLE1_RESIDENT_DATA
                        - SAMPLE1_SERVICES
                        - SAMPLE1_JOB_COST
                        - SAMPLE1_VENDOR_INVOICING
                        - REALPAGE_RPX_READ_PROPERTIES
                        - REALPAGE_RPX_UNITS
                        - REALPAGE_RPX_RESIDENT_MANAGEMENT
                        - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                        - REALPAGE_RPX_PROSPECT_MANAGEMENT
                        - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                        - REALPAGE_RPX_FACILITIES
                        - REALPAGE_RPX_CONVERGENT_BILLING
                        - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                        - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                        - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                        - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                        - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                        - REALPAGE_RPX_PROSPECTS_SURVEY
                        - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                        - REALPAGE_RPX_FLOOR_PLANS
                        - REALPAGE_RPX_LEAD_ACTIVITY_TYPES
                        - REALPAGE_RPX_LEAD_RELATIONSHIPS
                        - REALPAGE_RPX_LEAD_SOURCES
                        - REALPAGE_RPX_LEASING_AGENTS
                        - REALPAGE_RPX_RESIDENT_ACTIVITY_TYPES
                        - REALPAGE_RPX_SERVICE_REQUEST_ISSUES
                        - REALPAGE_RPX_SERVICE_REQUEST_LOCATIONS
                        - REALPAGE_RPX_SERVICE_REQUEST_PRIORITIES
                        - REALPAGE_RPX_APPOINTMENTS
                        - ENTRATA_AMENITIES
                        - ENTRATA_LEASES
                        - ENTRATA_LEAD_EVENTS
                        - ENTRATA_LEASE_TRANSACTIONS
                        - ENTRATA_LISTINGS
                        - ENTRATA_PROPERTIES
                        - ENTRATA_PROSPECTS
                        - ENTRATA_RESIDENTS
                        - ENTRATA_UNITS
                        - ENTRATA_VENDORS
                        - ENTRATA_WORK_ORDERS
                        - ENTRATA_INVOICES
                        - ENTRATA_LEAD_PICK_LIST
                        - ENTRATA_LEASE_PICK_LIST
                        - ENTRATA_PROPERTY_PICK_LIST
                        - ENTRATA_PURCHASE_ORDERS
                        - ENTRATA_UNIT_TYPES
                        - ENTRATA_VENDOR_PICK_LIST
                        - ENTRATA_WORK_ORDER_PICK_LIST
                        - ENTRATA_VENDOR_LOCATIONS
                        - ENTRATA_AR_CODES
                        - ENTRATA_FLOOR_PLANS
                        - ENTRATA_GL_ACCOUNTS
                        - ENTRATA_LEASE_DETAILS
                        - ENTRATA_RESIDENT_TRANSACTION_ALLOCATIONS
                        - BUILDIUM_BASE
                        - ENTRATA_BASE
                        - PROPERTYWARE_BASE
                        - RENTMANAGER_BASE
                        - RENTVINE_BASE
                        - MRI_BASE
                        - RESMAN_BASE
                        - SAMPLE2_BASE
                    enabled:
                      type: boolean
                    version:
                      type:
                        - string
                        - "null"
                  required:
                    - interface_name
                    - enabled
                    - version
              models:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    from_interfaces:
                      type: array
                      items:
                        type: string
                        enum:
                          - REALPAGE_FACILITIES
                          - REALPAGE_RESIDENTS
                          - REALPAGE_PROSPECT_MANAGEMENT
                          - REALPAGE_SDE_CONVERGENT_BILLING
                          - REALPAGE_UNIT
                          - REALPAGE_PRICING_AND_AVAILABILITY
                          - REALPAGE_PROSPECT_MANAGEMENT_ALL_LEADS
                          - REALPAGE_RESIDENTS_APPLICANT_GENERAL_INFO
                          - REALPAGE_PRICING_AND_AVAILABILITY_FLOOR_PLANS
                          - REALPAGE_PROSPECT_MANAGEMENT_LEAD
                          - REALPAGE_PROSPECT_MANAGEMENT_LEAD_SOURCES
                          - REALPAGE_PROSPECT_MANAGEMENT_PROPERTIES
                          - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_LOGS
                          - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_TYPES
                          - REALPAGE_RESIDENTS_RESIDENT_GENERAL_INFO
                          - REALPAGE_RESIDENTS_RESIDENT_LEASE
                          - REALPAGE_RESIDENTS_RESIDENT_LEDGER
                          - REALPAGE_RESIDENTS_RESIDENT_LIST
                          - REALPAGE_FACILITIES_SERVICE_REQUESTS
                          - REALPAGE_PROSPECT_MANAGEMENT_UNITS
                          - REALPAGE_UNIT_UNIT_DETAILS
                          - SAMPLE1_GUESTCARD
                          - SAMPLE1_RESIDENT_TRANSACTIONS
                          - SAMPLE1_RESIDENT_DATA
                          - SAMPLE1_SERVICES
                          - SAMPLE1_JOB_COST
                          - SAMPLE1_VENDOR_INVOICING
                          - REALPAGE_RPX_READ_PROPERTIES
                          - REALPAGE_RPX_UNITS
                          - REALPAGE_RPX_RESIDENT_MANAGEMENT
                          - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                          - REALPAGE_RPX_PROSPECT_MANAGEMENT
                          - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                          - REALPAGE_RPX_FACILITIES
                          - REALPAGE_RPX_CONVERGENT_BILLING
                          - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                          - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                          - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                          - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                          - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                          - REALPAGE_RPX_PROSPECTS_SURVEY
                          - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                          - REALPAGE_RPX_FLOOR_PLANS
                          - REALPAGE_RPX_LEAD_ACTIVITY_TYPES
                          - REALPAGE_RPX_LEAD_RELATIONSHIPS
                          - REALPAGE_RPX_LEAD_SOURCES
                          - REALPAGE_RPX_LEASING_AGENTS
                          - REALPAGE_RPX_RESIDENT_ACTIVITY_TYPES
                          - REALPAGE_RPX_SERVICE_REQUEST_ISSUES
                          - REALPAGE_RPX_SERVICE_REQUEST_LOCATIONS
                          - REALPAGE_RPX_SERVICE_REQUEST_PRIORITIES
                          - REALPAGE_RPX_APPOINTMENTS
                          - ENTRATA_AMENITIES
                          - ENTRATA_LEASES
                          - ENTRATA_LEAD_EVENTS
                          - ENTRATA_LEASE_TRANSACTIONS
                          - ENTRATA_LISTINGS
                          - ENTRATA_PROPERTIES
                          - ENTRATA_PROSPECTS
                          - ENTRATA_RESIDENTS
                          - ENTRATA_UNITS
                          - ENTRATA_VENDORS
                          - ENTRATA_WORK_ORDERS
                          - ENTRATA_INVOICES
                          - ENTRATA_LEAD_PICK_LIST
                          - ENTRATA_LEASE_PICK_LIST
                          - ENTRATA_PROPERTY_PICK_LIST
                          - ENTRATA_PURCHASE_ORDERS
                          - ENTRATA_UNIT_TYPES
                          - ENTRATA_VENDOR_PICK_LIST
                          - ENTRATA_WORK_ORDER_PICK_LIST
                          - ENTRATA_VENDOR_LOCATIONS
                          - ENTRATA_AR_CODES
                          - ENTRATA_FLOOR_PLANS
                          - ENTRATA_GL_ACCOUNTS
                          - ENTRATA_LEASE_DETAILS
                          - ENTRATA_RESIDENT_TRANSACTION_ALLOCATIONS
                          - BUILDIUM_BASE
                          - ENTRATA_BASE
                          - PROPERTYWARE_BASE
                          - RENTMANAGER_BASE
                          - RENTVINE_BASE
                          - MRI_BASE
                          - RESMAN_BASE
                          - SAMPLE2_BASE
                  required:
                    - enabled
                    - from_interfaces
              can_authenticate:
                type: boolean
                description: True if the credentials and configuration for the integration
                  allowed us to successfully authenticate with at least one PMS
                  API endpoint, false otherwise
              last_data_access_check:
                type:
                  - string
                  - "null"
              allow_manual_syncs:
                type: boolean
                description: Whether or not manual syncs are allowed to be triggered on this
                  integration
              configuration_meta_data:
                type: array
                items:
                  type: object
                  properties:
                    last_seen:
                      type: string
                    interface_name:
                      type: string
                    configuration_data:
                      type: object
                      properties: {}
                    custom_data:
                      type:
                        - object
                        - "null"
                      properties: {}
                  required:
                    - last_seen
                    - interface_name
                    - configuration_data
                    - custom_data
            required:
              - id
              - created_at
              - updated_at
              - name
              - vendor
              - active
              - system
              - max_job_concurrency
              - max_request_frequency
              - max_request_cadence
              - base_url
              - is_archived
              - last_completed_sync
              - new_properties_are_enabled
              - integration_interfaces
              - models
              - can_authenticate
              - last_data_access_check
              - allow_manual_syncs
              - configuration_meta_data
      required:
        - meta
        - results
    _v1_admin_integrations__post_input:
      type: object
      properties:
        integration_vendor:
          type: string
          enum:
            - SAMPLE2
            - BUILDIUM
            - ENTRATA
            - MRI
            - PROPERTYWARE
            - REALPAGE
            - REALPAGE_RPX
            - RENTMANAGER
            - RENTVINE
            - RESMAN
            - SAMPLE1
          description: The integration vendor
        credentials:
          anyOf:
            - type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                database:
                  type: string
                serverName:
                  type: string
                platform:
                  type: string
                entity:
                  type: string
                license:
                  type: string
                companyId:
                  type: string
                baseUrl:
                  type: string
                common_data:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the common/resident data interface
                vendor_invoicing:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the vendor invoicing interface
                job_cost:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the job cost interface
                guest_card:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the guest card interface
                resident_transactions:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the resident transactions interface
                service_requests:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the service requests interface
              required:
                - username
                - password
                - database
                - serverName
                - platform
                - entity
                - license
                - companyId
              description: Sample1 PMS authentication credentials
              title: Sample1
            - type: object
              properties:
                clientId:
                  type: string
                secret:
                  type: string
              required:
                - clientId
                - secret
              description: Buildium authentication credentials
              title: Buildium
            - type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                companyId:
                  type: string
              required:
                - username
                - password
                - companyId
              description: Entrata authentication credentials
              title: EntrataLegacy
            - type: object
              properties:
                accessToken:
                  type: string
                companyId:
                  type: string
              required:
                - accessToken
                - companyId
              description: Entrata authentication credentials
              title: Entrata
            - type: object
              properties:
                clientId:
                  type: string
                databaseName:
                  type: string
                partnerKey:
                  type: string
                username:
                  type: string
                password:
                  type: string
                baseUrl:
                  type: string
              required:
                - clientId
                - databaseName
                - partnerKey
                - username
                - password
                - baseUrl
              description: MRI authentication credentials
              title: MRI
            - type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
              description: Propertyware authentication credentials
              title: Propertyware
            - type: object
              properties:
                PMC_ID:
                  type: string
                SITE_ID:
                  type: string
                LICENSE_KEY:
                  type: string
                ONESITE_USERNAME:
                  type: string
                ONESITE_PASSWORD:
                  type: string
                BASE_URL:
                  type: string
                ftp_credentials:
                  type: object
                  properties:
                    SFTP_HOST:
                      type: string
                    SFTP_PORT:
                      type: number
                    SFTP_USERNAME:
                      type: string
                    SFTP_PASSWORD:
                      type: string
                    SFTP_DIR:
                      type: string
                  required:
                    - SFTP_HOST
                    - SFTP_PORT
                    - SFTP_USERNAME
                    - SFTP_PASSWORD
                    - SFTP_DIR
              required:
                - PMC_ID
                - SITE_ID
                - LICENSE_KEY
                - ONESITE_USERNAME
              description: RealPage Registered Vendor authentication credentials
              title: RealpageRegisteredVendor
            - type: object
              properties:
                baseUrl:
                  type: string
                  minLength: 1
                  format: uri
                licensekey:
                  type: string
                  minLength: 1
                pmcId:
                  type: string
                  description: This is also sometimes referred to as a "client ID"
                siteId:
                  type: string
              required:
                - baseUrl
                - licensekey
              description: RealPage Partner Exchange authentication credentials
              title: RealpagePartnerExchange
            - type: object
              properties:
                Username:
                  type: string
                Password:
                  type: string
                companyId:
                  type: string
              required:
                - Username
                - Password
                - companyId
              description: RentManager authentication credentials
              title: RentManagerSandbox
            - type: object
              properties:
                PartnerToken:
                  type: string
                companyId:
                  type: string
              required:
                - PartnerToken
                - companyId
              description: RentManager authentication credentials
              title: RentManagerProduction
            - type: object
              properties:
                apiKey:
                  type: string
                apiSecret:
                  type: string
                companyId:
                  type: string
                portfolioId:
                  type: string
              required:
                - apiKey
                - apiSecret
                - companyId
              description: Rentvine authentication credentials
              title: Rentvine
            - type: object
              properties:
                integrationPartnerId:
                  type: string
                accountId:
                  type: string
                apiKey:
                  type: string
              required:
                - integrationPartnerId
                - accountId
                - apiKey
              description: ResMan authentication credentials
              title: Resman
            - type: object
              properties:
                clientId:
                  type: string
                clientSecret:
                  type: string
                developerId:
                  type: string
              required:
                - clientId
                - clientSecret
                - developerId
              description: Sample2 authentication credentials
              title: Sample2
          description: JSON encoded credentials for accessing the integration vendor API
        name:
          type: string
          description: The name of the integration
        system:
          type: string
          enum:
            - PRODUCTION
            - SANDBOX
          description: "Deprecated: Do not use"
          deprecated: true
        sync_frequency:
          type: integer
          minimum: 1
          default: 12
          description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
            following: Sync every 12 HOURs). This value will be used if the
            use_custom_schedule is set to false.'
        sync_cadence:
          type: string
          enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - SECOND
          default: HOUR
          description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
            following: Sync every 12 HOURs). This value will be used if the
            use_custom_schedule is set to false.'
        max_request_cadence:
          type: string
          enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - SECOND
          default: SECOND
          description: 'The cadence at which to limit the max request frequency. (e.g.
            "SECOND" in the following: 1 request per 2 SECONDs). Requests cannot
            be made less frequently than once per minute'
          example: SECOND
        max_request_frequency:
          type: number
          minimum: 1
          default: 1
          description: 'The maximum number of requests sent to the PMS API per cadence
            unit. (e.g. "2" in the following: 1 request per 2 SECONDs). Requests
            cannot be made less frequently than once per minute'
          example: 1
        max_job_concurrency:
          type: integer
          maximum: 100
          minimum: 1
          default: 1
          description: 'Maximum number of jobs that can be run at once for the
            integration. (e.g. "1" in the following: 1 request per 2 SECONDs)'
          example: 1
        active:
          type: boolean
          default: false
          description: The active state of the integration
        base_url:
          type:
            - string
            - "null"
          format: uri
          description: DEPRECATED. See specific PMS credentials for usage.
          deprecated: true
        new_properties_are_enabled:
          type: boolean
          default: true
          description: Whether or not properties need to be approved before by you
            ingesting data for them.
        based_on_integration_id:
          type: string
          description: A reference integration_id to base the creation of an integration
            on. This includes copying job scheduling frequency and similar
            configuration. Credentials are not copied and must still be
            provided.
          example: clwsc909e000008l73rix7mae
        allow_manual_syncs:
          type: boolean
          default: false
          description: Opt-in to allow manual syncs for this integration to be triggered
            via the API
        custom_sync_schedule:
          type: object
          properties:
            type:
              type: string
              enum:
                - WEEK_BASED
            timezone:
              type: string
              enum:
                - UTC
                - America/New_York
                - America/Chicago
                - America/Denver
                - America/Phoenix
                - America/Los_Angeles
                - America/Anchorage
                - Pacific/Honolulu
            interval:
              type: object
              properties:
                SUNDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
                MONDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
                TUESDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
                WEDNESDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
                THURSDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
                FRIDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
                SATURDAY:
                  type: object
                  properties:
                    slots:
                      type: array
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          end:
                            type: string
                            pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                          sync_frequency:
                            type: integer
                            exclusiveMinimum: 0
                          sync_cadence:
                            type: string
                            enum:
                              - MINUTE
                              - HOUR
                              - DAY
                              - WEEK
                              - MONTH
                              - SECOND
                        required:
                          - start
                          - end
                          - sync_frequency
                          - sync_cadence
                  required:
                    - slots
          required:
            - type
            - timezone
            - interval
          description: A custom sync schedule configuration object which will be respected
            if use_custom_schedule is set to true
        use_custom_sync_schedule:
          type: boolean
          default: false
          description: Opt-in to use the configured custom_sync_schedule
      required:
        - integration_vendor
        - credentials
        - name
    _v1_admin_integrations__post_output:
      type: object
      properties:
        result:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier for the integration
            created_at:
              type: string
              description: The date the integration was created
            updated_at:
              type: string
              description: The date the integration was last updated
            name:
              type:
                - string
                - "null"
            vendor:
              type: string
              enum:
                - SAMPLE2
                - BUILDIUM
                - ENTRATA
                - MRI
                - PROPERTYWARE
                - REALPAGE
                - REALPAGE_RPX
                - RENTMANAGER
                - RENTVINE
                - RESMAN
                - SAMPLE1
              description: The property management system of record
            active:
              type: boolean
              description: The active state of the integration
            system:
              type: string
              enum:
                - PRODUCTION
                - SANDBOX
              description: The system the integration is associated with
            sync_frequency:
              type: integer
              description: 'The interval of the scheduled sync frequency. (e.g. "12" in the
                following: Sync every 12 HOURs). This value will be used if the
                use_custom_schedule is set to false.'
            sync_cadence:
              type: string
              enum:
                - MINUTE
                - HOUR
                - DAY
                - WEEK
                - MONTH
                - SECOND
              description: 'The cadence of the scheduled sync frequency. (e.g. "HOUR" in the
                following: Sync every 12 HOURs). This value will be used if the
                use_custom_schedule is set to false.'
            max_request_cadence:
              type: string
              enum:
                - MINUTE
                - HOUR
                - DAY
                - WEEK
                - MONTH
                - SECOND
              default: SECOND
              description: 'The cadence at which to limit the max request frequency. (e.g.
                "SECOND" in the following: 1 request per 2 SECONDs). Requests
                cannot be made less frequently than once per minute'
              example: SECOND
            max_request_frequency:
              type: number
              minimum: 1
              default: 1
              description: 'The maximum number of requests sent to the PMS API per cadence
                unit. (e.g. "2" in the following: 1 request per 2 SECONDs).
                Requests cannot be made less frequently than once per minute'
              example: 10
            max_job_concurrency:
              type: integer
              minimum: 1
              default: 1
              description: 'Maximum number of jobs that can be run at once for the
                integration. (e.g. "1" in the following: 1 request per 2
                SECONDs)'
              example: 1
            base_url:
              type:
                - string
                - "null"
            customer_id:
              type: string
              description: The unique identifier for the customer
            is_archived:
              type: boolean
              description: Whether or not the integration is archived
            ping_results:
              type: object
              additionalProperties:
                type: string
            new_properties_are_enabled:
              type: boolean
              description: Whether or not properties need to be approved before ingesting data
                for them.
            allow_manual_syncs:
              type: boolean
              description: Whether or not manual syncs are allowed to be triggered on this
                integration
            custom_sync_schedule:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - WEEK_BASED
                timezone:
                  type: string
                  enum:
                    - UTC
                    - America/New_York
                    - America/Chicago
                    - America/Denver
                    - America/Phoenix
                    - America/Los_Angeles
                    - America/Anchorage
                    - Pacific/Honolulu
                interval:
                  type: object
                  properties:
                    SUNDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
                    MONDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
                    TUESDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
                    WEDNESDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
                    THURSDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
                    FRIDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
                    SATURDAY:
                      type: object
                      properties:
                        slots:
                          type: array
                          items:
                            type: object
                            properties:
                              start:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              end:
                                type: string
                                pattern: (?:[01]\d|2[0123]):(?:[012345]\d)
                              sync_frequency:
                                type: integer
                                exclusiveMinimum: 0
                              sync_cadence:
                                type: string
                                enum:
                                  - MINUTE
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - SECOND
                            required:
                              - start
                              - end
                              - sync_frequency
                              - sync_cadence
                      required:
                        - slots
              required:
                - type
                - timezone
                - interval
            use_custom_sync_schedule:
              type: boolean
              description: Opt-in to use the configured custom_sync_schedule
          required:
            - id
            - created_at
            - updated_at
            - name
            - vendor
            - active
            - system
            - sync_frequency
            - sync_cadence
            - base_url
            - customer_id
            - is_archived
            - ping_results
            - new_properties_are_enabled
            - allow_manual_syncs
            - use_custom_sync_schedule
      required:
        - result
    _v1_admin_users__get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        id:
          type: string
    _v1_admin_users__get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier for the user
              created_at:
                type: string
                description: The date the user was created
              updated_at:
                type: string
                description: The date the user was last updated
              first_name:
                type: string
                description: The first name of the user
              last_name:
                type: string
                description: The last name of the user
              email:
                type: string
                format: email
                description: The email of the user
              roles:
                type: array
                items:
                  type: string
                  enum:
                    - ADMIN
                    - DEVELOPER
            required:
              - id
              - created_at
              - updated_at
              - first_name
              - last_name
              - email
              - roles
      required:
        - meta
        - results
    _v1_admin_users__post_input:
      type: object
      properties:
        first_name:
          type: string
          description: The first name of the user
        last_name:
          type: string
          description: The last name of the user
        email:
          type: string
          format: email
          description: The email of the user
        phone:
          type: string
        roles:
          type: array
          items:
            type: string
            enum:
              - ADMIN
              - DEVELOPER
      required:
        - first_name
        - last_name
        - email
        - roles
    _v1_admin_users__post_output:
      type: object
      properties:
        result:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier for the users
            created_at:
              type: string
              description: The date the users was created
            updated_at:
              type: string
              description: The date the user was last updated
            first_name:
              type: string
              description: The first name of the user
            last_name:
              type: string
              description: The last name of the user
            email:
              type: string
              format: email
              description: The email of the user
            roles:
              type: array
              items:
                type: string
                enum:
                  - ADMIN
                  - DEVELOPER
          required:
            - id
            - created_at
            - updated_at
            - first_name
            - last_name
            - email
            - roles
      required:
        - result
    _v1_admin_users_:id_get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        id:
          type: string
          description: The unique identifier for the user
      required:
        - id
    _v1_admin_users_:id_get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              description: The unique identifier for the user
            created_at:
              type: string
              description: The date the users was created
            updated_at:
              type: string
              description: The date the user was last updated
            first_name:
              type: string
              description: The first name of the user
            last_name:
              type: string
              description: The last name of the user
            email:
              type: string
              format: email
              description: The email of the user
            roles:
              type: array
              items:
                type: string
                enum:
                  - ADMIN
                  - DEVELOPER
          required:
            - id
            - created_at
            - updated_at
            - first_name
            - last_name
            - email
            - roles
      required:
        - meta
        - results
    _v1_admin_users_:id_put_input:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the user
        first_name:
          type: string
        last_name:
          type: string
        roles:
          type: array
          items:
            type: string
            enum:
              - ADMIN
              - DEVELOPER
      required:
        - id
    _v1_admin_users_:id_put_output:
      type: object
      properties:
        result:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier for the user
            created_at:
              type: string
              description: The date the users was created
            updated_at:
              type: string
              description: The date the user was last updated
            first_name:
              type: string
              description: The first name of the user
            last_name:
              type: string
              description: The last name of the user
            email:
              type: string
              format: email
              description: The email of the user
            phone:
              type:
                - string
                - "null"
            roles:
              type: array
              items:
                type: string
                enum:
                  - ADMIN
                  - DEVELOPER
          required:
            - id
            - created_at
            - updated_at
            - first_name
            - last_name
            - email
            - phone
            - roles
      required:
        - result
    _v1_admin_write-status_:root_job_id_get_input:
      type: object
      properties:
        root_job_id:
          type: string
          description: The job ID of the write job to check the status of
      required:
        - root_job_id
    _v1_admin_write-status_:root_job_id_get_output:
      type: object
      properties:
        write_status:
          type: string
          enum:
            - SUCCESS
            - PARTIAL_SUCCESS
            - FAILURE
            - PENDING
          description: The status for the write operation. "SUCCESS" means that the write
            operation was seen as a complete success and the data has been
            written. "PARTIAL_SUCCESS" means that a portion of the write
            operation succeeded, but it was not fully successful. "FAILURE"
            means that the write operation completely failed."PENDING" means
            that the write operation is pending completion of any status.
        errors:
          type: array
          items:
            type: string
        created_record_id:
          type:
            - string
            - "null"
      required:
        - write_status
        - errors
        - created_record_id
    _v1_admin_integrations_:integration_id__get_input:
      type: object
      properties:
        order-by:
          type: string
          default: created_at:desc
          description: "Order the results by a field. Optionally include asc or desc
            preceded by a colon (default is asc). Example:
            ?order-by=updated_at:desc"
        offset:
          type:
            - integer
            - "null"
          minimum: 0
          default: 0
          description: Can be used for paginating results
        limit:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 250
          default: 100
          description: A number between 1 and 250 to determine the number of results to
            return in a single query
        integration_id:
          type: string
          description: The integration id
      required:
        - integration_id
    _v1_admin_integrations_:integration_id__get_output:
      type: object
      properties:
        meta:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 250
            orderBy:
              type: array
              items:
                type: object
                properties: {}
            hasMore:
              type:
                - boolean
                - "null"
            total:
              type: integer
              minimum: 0
          required:
            - orderBy
        results:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              description: The unique identifier for the integration
            created_at:
              type: string
              description: The date the integration was created
            updated_at:
              type: string
              description: The date the integration was last updated
            name:
              type: string
              description: The name of the integration
            vendor:
              type: string
              enum:
                - SAMPLE2
                - BUILDIUM
                - ENTRATA
                - MRI
                - PROPERTYWARE
                - REALPAGE
                - REALPAGE_RPX
                - RENTMANAGER
                - RENTVINE
                - RESMAN
                - SAMPLE1
              description: The property management system of record
            active:
              type: boolean
              description: The active state of the integration
            system:
              type: string
              enum:
                - PRODUCTION
                - SANDBOX
              description: The system the integration is associated with
            sync_frequency:
              type:
                - integer
                - "null"
            sync_cadence:
              type:
                - string
                - "null"
              enum:
                - MINUTE
                - HOUR
                - DAY
                - WEEK
                - MONTH
                - SECOND
            max_job_concurrency:
              type: integer
              description: Maximum number of jobs that can be run at once for the integration
            max_request_frequency:
              type: integer
              description: Maximum number of jobs that can be run in the max request cadence
            max_request_cadence:
              type: string
              enum:
                - MINUTE
                - HOUR
                - DAY
                - WEEK
                - MONTH
                - SECOND
              description: Cadence at which to limit the max request frequency
            base_url:
              type:
                - string
                - "null"
            is_archived:
              type: boolean
              description: Whether or not the integration is archived
            last_completed_sync:
              type:
                - string
                - "null"
            new_properties_are_enabled:
              type: boolean
              description: Whether or not properties need to be approved before ingesting data
                for them.
            integration_interfaces:
              type: array
              items:
                type: object
                properties:
                  interface_name:
                    type: string
                    enum:
                      - REALPAGE_FACILITIES
                      - REALPAGE_RESIDENTS
                      - REALPAGE_PROSPECT_MANAGEMENT
                      - REALPAGE_SDE_CONVERGENT_BILLING
                      - REALPAGE_UNIT
                      - REALPAGE_PRICING_AND_AVAILABILITY
                      - REALPAGE_PROSPECT_MANAGEMENT_ALL_LEADS
                      - REALPAGE_RESIDENTS_APPLICANT_GENERAL_INFO
                      - REALPAGE_PRICING_AND_AVAILABILITY_FLOOR_PLANS
                      - REALPAGE_PROSPECT_MANAGEMENT_LEAD
                      - REALPAGE_PROSPECT_MANAGEMENT_LEAD_SOURCES
                      - REALPAGE_PROSPECT_MANAGEMENT_PROPERTIES
                      - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_LOGS
                      - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_TYPES
                      - REALPAGE_RESIDENTS_RESIDENT_GENERAL_INFO
                      - REALPAGE_RESIDENTS_RESIDENT_LEASE
                      - REALPAGE_RESIDENTS_RESIDENT_LEDGER
                      - REALPAGE_RESIDENTS_RESIDENT_LIST
                      - REALPAGE_FACILITIES_SERVICE_REQUESTS
                      - REALPAGE_PROSPECT_MANAGEMENT_UNITS
                      - REALPAGE_UNIT_UNIT_DETAILS
                      - SAMPLE1_GUESTCARD
                      - SAMPLE1_RESIDENT_TRANSACTIONS
                      - SAMPLE1_RESIDENT_DATA
                      - SAMPLE1_SERVICES
                      - SAMPLE1_JOB_COST
                      - SAMPLE1_VENDOR_INVOICING
                      - REALPAGE_RPX_READ_PROPERTIES
                      - REALPAGE_RPX_UNITS
                      - REALPAGE_RPX_RESIDENT_MANAGEMENT
                      - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                      - REALPAGE_RPX_PROSPECT_MANAGEMENT
                      - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                      - REALPAGE_RPX_FACILITIES
                      - REALPAGE_RPX_CONVERGENT_BILLING
                      - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                      - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                      - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                      - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                      - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                      - REALPAGE_RPX_PROSPECTS_SURVEY
                      - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                      - REALPAGE_RPX_FLOOR_PLANS
                      - REALPAGE_RPX_LEAD_ACTIVITY_TYPES
                      - REALPAGE_RPX_LEAD_RELATIONSHIPS
                      - REALPAGE_RPX_LEAD_SOURCES
                      - REALPAGE_RPX_LEASING_AGENTS
                      - REALPAGE_RPX_RESIDENT_ACTIVITY_TYPES
                      - REALPAGE_RPX_SERVICE_REQUEST_ISSUES
                      - REALPAGE_RPX_SERVICE_REQUEST_LOCATIONS
                      - REALPAGE_RPX_SERVICE_REQUEST_PRIORITIES
                      - REALPAGE_RPX_APPOINTMENTS
                      - ENTRATA_AMENITIES
                      - ENTRATA_LEASES
                      - ENTRATA_LEAD_EVENTS
                      - ENTRATA_LEASE_TRANSACTIONS
                      - ENTRATA_LISTINGS
                      - ENTRATA_PROPERTIES
                      - ENTRATA_PROSPECTS
                      - ENTRATA_RESIDENTS
                      - ENTRATA_UNITS
                      - ENTRATA_VENDORS
                      - ENTRATA_WORK_ORDERS
                      - ENTRATA_INVOICES
                      - ENTRATA_LEAD_PICK_LIST
                      - ENTRATA_LEASE_PICK_LIST
                      - ENTRATA_PROPERTY_PICK_LIST
                      - ENTRATA_PURCHASE_ORDERS
                      - ENTRATA_UNIT_TYPES
                      - ENTRATA_VENDOR_PICK_LIST
                      - ENTRATA_WORK_ORDER_PICK_LIST
                      - ENTRATA_VENDOR_LOCATIONS
                      - ENTRATA_AR_CODES
                      - ENTRATA_FLOOR_PLANS
                      - ENTRATA_GL_ACCOUNTS
                      - ENTRATA_LEASE_DETAILS
                      - ENTRATA_RESIDENT_TRANSACTION_ALLOCATIONS
                      - BUILDIUM_BASE
                      - ENTRATA_BASE
                      - PROPERTYWARE_BASE
                      - RENTMANAGER_BASE
                      - RENTVINE_BASE
                      - MRI_BASE
                      - RESMAN_BASE
                      - SAMPLE2_BASE
                  enabled:
                    type: boolean
                  version:
                    type:
                      - string
                      - "null"
                required:
                  - interface_name
                  - enabled
                  - version
            models:
              type: object
              additionalProperties:
                type: object
                properties:
                  enabled:
                    type: boolean
                  from_interfaces:
                    type: array
                    items:
                      type: string
                      enum:
                        - REALPAGE_FACILITIES
                        - REALPAGE_RESIDENTS
                        - REALPAGE_PROSPECT_MANAGEMENT
                        - REALPAGE_SDE_CONVERGENT_BILLING
                        - REALPAGE_UNIT
                        - REALPAGE_PRICING_AND_AVAILABILITY
                        - REALPAGE_PROSPECT_MANAGEMENT_ALL_LEADS
                        - REALPAGE_RESIDENTS_APPLICANT_GENERAL_INFO
                        - REALPAGE_PRICING_AND_AVAILABILITY_FLOOR_PLANS
                        - REALPAGE_PROSPECT_MANAGEMENT_LEAD
                        - REALPAGE_PROSPECT_MANAGEMENT_LEAD_SOURCES
                        - REALPAGE_PROSPECT_MANAGEMENT_PROPERTIES
                        - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_LOGS
                        - REALPAGE_RESIDENTS_RESIDENT_ACTIVITY_TYPES
                        - REALPAGE_RESIDENTS_RESIDENT_GENERAL_INFO
                        - REALPAGE_RESIDENTS_RESIDENT_LEASE
                        - REALPAGE_RESIDENTS_RESIDENT_LEDGER
                        - REALPAGE_RESIDENTS_RESIDENT_LIST
                        - REALPAGE_FACILITIES_SERVICE_REQUESTS
                        - REALPAGE_PROSPECT_MANAGEMENT_UNITS
                        - REALPAGE_UNIT_UNIT_DETAILS
                        - SAMPLE1_GUESTCARD
                        - SAMPLE1_RESIDENT_TRANSACTIONS
                        - SAMPLE1_RESIDENT_DATA
                        - SAMPLE1_SERVICES
                        - SAMPLE1_JOB_COST
                        - SAMPLE1_VENDOR_INVOICING
                        - REALPAGE_RPX_READ_PROPERTIES
                        - REALPAGE_RPX_UNITS
                        - REALPAGE_RPX_RESIDENT_MANAGEMENT
                        - REALPAGE_RPX_RESIDENT_MANAGEMENT_EVENTS
                        - REALPAGE_RPX_PROSPECT_MANAGEMENT
                        - REALPAGE_RPX_PRICING_AND_AVAILABILITY
                        - REALPAGE_RPX_FACILITIES
                        - REALPAGE_RPX_CONVERGENT_BILLING
                        - REALPAGE_RPX_CONVERGENT_BILLING_LEASES
                        - REALPAGE_RPX_CONVERGENT_BILLING_UNITS
                        - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENTS
                        - REALPAGE_RPX_CONVERGENT_BILLING_RESIDENT_LEDGER
                        - REALPAGE_RPX_CONVERGENT_BILLING_TRANSACTION_CODES
                        - REALPAGE_RPX_PROSPECTS_SURVEY
                        - REALPAGE_RPX_SERVICE_REQUESTS_SURVEY
                        - REALPAGE_RPX_FLOOR_PLANS
                        - REALPAGE_RPX_LEAD_ACTIVITY_TYPES
                        - REALPAGE_RPX_LEAD_RELATIONSHIPS
                        - REALPAGE_RPX_LEAD_SOURCES
                        - REALPAGE_RPX_LEASING_AGENTS
                        - REALPAGE_RPX_RESIDENT_ACTIVITY_TYPES
                        - REALPAGE_RPX_SERVICE_REQUEST_ISSUES
                        - REALPAGE_RPX_SERVICE_REQUEST_LOCATIONS
                        - REALPAGE_RPX_SERVICE_REQUEST_PRIORITIES
                        - REALPAGE_RPX_APPOINTMENTS
                        - ENTRATA_AMENITIES
                        - ENTRATA_LEASES
                        - ENTRATA_LEAD_EVENTS
                        - ENTRATA_LEASE_TRANSACTIONS
                        - ENTRATA_LISTINGS
                        - ENTRATA_PROPERTIES
                        - ENTRATA_PROSPECTS
                        - ENTRATA_RESIDENTS
                        - ENTRATA_UNITS
                        - ENTRATA_VENDORS
                        - ENTRATA_WORK_ORDERS
                        - ENTRATA_INVOICES
                        - ENTRATA_LEAD_PICK_LIST
                        - ENTRATA_LEASE_PICK_LIST
                        - ENTRATA_PROPERTY_PICK_LIST
                        - ENTRATA_PURCHASE_ORDERS
                        - ENTRATA_UNIT_TYPES
                        - ENTRATA_VENDOR_PICK_LIST
                        - ENTRATA_WORK_ORDER_PICK_LIST
                        - ENTRATA_VENDOR_LOCATIONS
                        - ENTRATA_AR_CODES
                        - ENTRATA_FLOOR_PLANS
                        - ENTRATA_GL_ACCOUNTS
                        - ENTRATA_LEASE_DETAILS
                        - ENTRATA_RESIDENT_TRANSACTION_ALLOCATIONS
                        - BUILDIUM_BASE
                        - ENTRATA_BASE
                        - PROPERTYWARE_BASE
                        - RENTMANAGER_BASE
                        - RENTVINE_BASE
                        - MRI_BASE
                        - RESMAN_BASE
                        - SAMPLE2_BASE
                required:
                  - enabled
                  - from_interfaces
            can_authenticate:
              type: boolean
              description: True if the credentials and configuration for the integration
                allowed us to successfully authenticate with at least one PMS
                API endpoint, false otherwise
            last_data_access_check:
              type:
                - string
                - "null"
            allow_manual_syncs:
              type: boolean
              description: Whether or not manual syncs are allowed to be triggered on this
                integration
            configuration_meta_data:
              type: array
              items:
                type: object
                properties:
                  last_seen:
                    type: string
                  interface_name:
                    type: string
                  configuration_data:
                    type: object
                    properties: {}
                  custom_data:
                    type:
                      - object
                      - "null"
                    properties: {}
                required:
                  - last_seen
                  - interface_name
                  - configuration_data
                  - custom_data
            is_running_sync:
              type: boolean
              description: Whether or not a data sync is currently in progress for the
                integration
            is_running_data_access_check:
              type: boolean
              description: Whether or not a data access check is currently in progress for the
                integration
          required:
            - id
            - created_at
            - updated_at
            - name
            - vendor
            - active
            - system
            - max_job_concurrency
            - max_request_frequency
            - max_request_cadence
            - base_url
            - is_archived
            - last_completed_sync
            - new_properties_are_enabled
            - integration_interfaces
            - models
            - can_authenticate
            - last_data_access_check
            - allow_manual_syncs
            - configuration_meta_data
            - is_running_sync
            - is_running_data_access_check
      required:
        - meta
        - results
    _v1_admin_integrations_:integration_id__put_input:
      type: object
      properties:
        integration_id:
          type: string
          description: The unique identifier for the integration
        integration_vendor:
          type: string
          enum:
            - SAMPLE2
            - BUILDIUM
            - ENTRATA
            - MRI
            - PROPERTYWARE
            - REALPAGE
            - REALPAGE_RPX
            - RENTMANAGER
            - RENTVINE
            - RESMAN
            - SAMPLE1
          description: The integration vendor
        credentials:
          anyOf:
            - type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                database:
                  type: string
                serverName:
                  type: string
                platform:
                  type: string
                entity:
                  type: string
                license:
                  type: string
                companyId:
                  type: string
                baseUrl:
                  type: string
                common_data:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the common/resident data interface
                vendor_invoicing:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
                    serverName:
                      type: string
                    platform:
                      type: string
                    companyId:
                      type: string
                    baseUrl:
                      type: string
                  required:
                    - entity
                    - license
                  description: Specific credentials for the vendor invoicing interface
                job_cost:
                  type: object
                  properties:
                    entity:
                      type: string
                    license:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    database:
                      type: string
[...]
